Importa librerias y Rutas

In [550]:
import pandas as pd
import re
import datetime
import jellyfish
from pymongo import MongoClient

In [551]:
project_name = input('Ingresa el nombre del Project Database: ')
project_name

'woodfield'

Diccionario de rutas

In [552]:
rutas = {
    'delamarre':['C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Delamarre\\044-DelamarrePhaseII_JobSummary.xlsx','C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Delamarre\\Delamarre Breakdown Rev. EV 7.25.22.xlsx',51,'florida'],
    'glenwood':['C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Glenwood\\047-GlenwoodPark_JobSummary (2).xlsx','C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Glenwood\\Glenwood Park Breakdown.xlsx',58,'atlanta'],
    'stanton_park':['C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Stanton\\032-StantonParkApartments_JobSummary.xlsx','C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Stanton\\Stanton Park Estimate by specs 4.26.2021.xlsx',51,'atlanta','032'],
    'warmsprings':['C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\WarmSprings\\045-WarmSprings_JobSummary.xlsx','C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\WarmSprings\\Project Breakdown 3 03.11.2022 Carrier Rev.2 EV.xlsx',51,'atlanta'],
    'waterset':['C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Waterset\\036-WoodfieldWaterset_JobSummary.xlsx','C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Waterset\\Woodfield Waterset Rev.3.xlsx',51,'florida','036'],
    'woodfield':['C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\WoodfieldOak\\041-WoodfieldOakGrove_JobSummary.xlsx','C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\WoodfieldOak\\Project Breakdown - Woodfield 12.14.2021 BM (2).xlsx',54,'atlanta'],
    'causeway':['C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Causeway\\039-CausewayCommons_JobSummary (3).xlsx','C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Causeway\\Project Breakdown - Zom Causeway - COOLING only Updated 09.27.2021 Javier Notes copy.xlsx',51,'florida'],
    'tributary':['C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Tributary\\038-TributaryApartments_JobSummary.xlsx','C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Tributary\\Project Breakdown GOODMAN wall mounted Rev.5 DUCTBOARD.xlsx',51,'atlanta','038'],
    'memorial':['C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Memorial\\040-MemorialDrive_JobSummary (1) (1).xlsx','C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\Memorial\\Memorial Drive Estimate MP 03.31.2022.xlsx',51,'atlanta'],
    'the_vue':['C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\The_Vue\\043-TheVUEPhaseII_JobSummary (1).xlsx','C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\The_Vue\\Project Breakdown - VUE II - CBG - 154 units.xlsx',53,'atlanta'],
    'the_elle':['C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\The_Elle\\048-TheElleApartments_JobSummary.xlsx','C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\The_Elle\\Goodman opt - The Elle Apartments V2 1-6-23 (1).xlsx',51,'atlanta']
}

In [553]:
ruta = "C:\\Users\\jecoo\\Desktop\\Alejandro\\Breakdowns JE\\PurchasesReport_6_20_23 .xlsx"

dataframe = pd.read_excel(ruta)
dataframe['Item'] = dataframe['Item'].fillna('').astype(str).apply(lambda x: re.sub(r"\(\w\w?\w?\)", '', x)).str.strip().str.lower()

try:
    pos = dataframe[dataframe['Project/Budget'].str.contains(rutas[project_name][4])]
    pos['Purchase Date'] = pd.to_datetime(pos['Date'], format='%m/%d/%Y').dt.strftime('%m/%d/%Y')
    pos.to_excel('testing.xlsx')
    pos
except:
    pass

In [554]:
ruta_purchases = rutas[project_name][0]
ruta_takeoff = rutas[project_name][1]

In [555]:
purchases_materials = pd.read_excel(ruta_purchases, sheet_name='Purchases', header=1)
purchases_materials['Item'] = purchases_materials['Item'].astype(str)
purchases_time = pd.read_excel(ruta_purchases,sheet_name='Time', header=1)
purchases_subcontractor = pd.read_excel(ruta_purchases,sheet_name='Subcontractors',header=1)
purchases_materials['Purchase Date'] = pd.to_datetime(purchases_materials['Purchase Date'], format='%Y-%m-%d').dt.strftime('%m/%d/%Y')
purchases_materials

,Phase,Item,Cost Type,QTY Ordered,QTY Received,Price Billed,Vendor,Purchase Date,Invoice Number
0,AHU Equipment,Condenser Unit GSZ140191L,Materials,30.0,30.0,29130.00,Goodman Distribution,09/26/2022,DB34284
1,AHU Equipment,Condenser Unit GSZ140251L,Materials,30.0,30.0,30060.00,Goodman Distribution,09/26/2022,DB34284
2,BAD PERFORMANCE,20% Bad Performance,Materials,1.0,1.0,43.20,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410050
3,BAD PERFORMANCE,20% Bad Performance,Materials,1.0,1.0,20.50,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410051
4,BAD PERFORMANCE,20% Bad Performance,Materials,1.0,1.0,109.80,OFFICE STORAGE INVENTORY 1420Redi,05/17/2023,90410053
...,...,...,...,...,...,...,...,...,...
647,Trim,36x12 Stamped Return,Materials,120.0,120.0,1956.00,Ferguson Enterprises Inc.,04/06/2023,NaN
648,Copper,3/4X1/2 INSULATION COIL/ARMAFLEX 1000 FT,Materials,1.0,0.0,0.01,NB Handy,04/21/2023,NaN
649,Vents,"18X12 SQUARE CRD WITH 8"" SLEEVE",Materials,41.0,0.0,1310.36,Ferguson Enterprises Inc.,05/09/2023,NaN
650,Copper Contingencies,"3/4"" PVC FEMALE ADAP SLIP X FIPT (AHU)",Materials,1.0,0.0,0.58,Home Depot,05/10/2023,NaN
651,Condenser Units Accessories,HURRICANE PAD 36X36X4,Materials,252.0,0.0,17388.00,"Conklin Metal Industries, Inc.",05/22/2023,NaN

Intromision para definir la tabla de tiempo y la de subcontractors

In [556]:
def time_to_decimal(time_obj):
    if isinstance(time_obj, datetime.time):
        hours = time_obj.hour
        minutes = time_obj.minute
        return hours + minutes / 60
    elif isinstance(time_obj, str):
        hours, minutes = time_obj.split(":")
        return int(hours) + int(minutes) / 60
    else:
        return time_obj

# apply the function to the series
purchases_time['ST'] = purchases_time['ST'].apply(time_to_decimal)
purchases_time

,Resource,Role,ST,Total,Cost,Avg. Hourly Cost
0,Abad Garcia,Foreman,37.333333,37:20,647.75,17.35
1,Billy Martinez,Superintendent,395.083333,395:05,14160.75,35.84
2,Billy Martinez,NaN,8.666667,08:40:00,269.86,31.14
3,Eliana Valbuena,Project Administrator,1.166667,01:10:00,12.67,10.86
4,Juan Pablo Cobos,Project Administrator,115.000000,115:00,1689.47,14.69
5,Mario Mayorga,Foreman,822.083333,822:05,14283.58,17.37
6,Nicolas Tolosano,Foreman,12.000000,12:00:00,201.73,16.81
7,Omar Maradiaga,Foreman,83.416667,83:25,1547.24,18.55
8,Xavier Carvajal,Foreman,46.000000,46:00,885.91,19.26

In [557]:
purchases_subcontractor['Item'] = purchases_subcontractor['Item'].str.lower().str.strip()
retencion = purchases_subcontractor[purchases_subcontractor['Item'].str.contains('retainer|retainage', case=False)]
ps_dropped_ret = purchases_subcontractor[~purchases_subcontractor['Item'].str.contains('retainer|retainage', case=False)]
ps_dropped_ret_dfl = ps_dropped_ret[~ps_dropped_ret['Phase'].str.contains('Direct Field Labor|Direct Cost Labor', case=False)]
ps_dropped_ret_dfl = ps_dropped_ret_dfl.reset_index().drop(columns=['index'])
ps_dropped_ret_dfl

,Phase,Item,Qty,Price,Subcontractor,Invoice Date,Invoice Number
0,Subcontractor,slp air\t1.000\t$300\t$300\t$30\t$270\tmock up...,1.00,300.00,SLP Air,2022-06-10,SLP-041-06102022
1,Subcontractor,st. jude hvac llc\t8.00\t$22.00\t$176.00\t$17....,1.00,1672.00,St. Jude HVAC,2022-09-30,STJ-041-093022
2,Subcontractor,23/10/22\t\tst. jude hvac llc\t12\t 90.00 \t 1...,1.00,1539.00,St. Jude HVAC,2022-10-21,STJ-041-10212022
3,Subcontractor,11/8/2022\tsubcontractor\tst. jude llc\t1\t39....,1.00,39.33,St. Jude HVAC,2022-11-03,STJ-041-11032022
4,Subcontractor,10/30/2022\tsubcontractor\tst. jude llc\t10\t9...,1.00,810.00,St. Jude HVAC,2022-11-04,STJ-041-11042022
5,Subcontractor,11/7/2022\tsubcontractor\tst. jude llc\t1\t90\...,1.00,81.00,St. Jude HVAC,2022-11-07,STJ-041-11072022
6,Subcontractor,11/13/2022\tsubcontractor\tst. jude llc\t4\t $...,1.00,441.90,St. Jude HVAC,2022-11-11,STJ-041-11182022
7,Subcontractor,11/25/2022\tnovember\t11/19/2022\tsubcontracto...,1.00,1350.00,St. Jude HVAC,2022-11-18,STJ-041-11252022
8,Subcontractor,11/18/2021\tsubcontractor\tdanny best air\t8\t...,1.00,7911.00,DANNY BEST AIR LLC,2022-11-18,DBA-041-11182022
9,Subcontractor,12/9/2022\tsubcontractor\tdanny best air\t30\t...,1.00,7560.00,DANNY BEST AIR LLC,2022-12-09,DBA-041-12162022
10,Subcontractor,12/30/2022\tsubcontractor\tst. jude hvac llc\t...,1.00,72.00,St. Jude HVAC,2022-12-30,STJ-041-12302022
11,Subcontractor,1/6/2023\tsubcontractor\tdanny best air\t30\t ...,1.00,101184.40,DANNY BEST AIR LLC,2023-01-13,DBA-041-01132023
12,Subcontractor,subcontractor,1.00,1080.00,St. Jude HVAC,2023-02-03,SJH-041-02032023
13,Subcontractor,subcontrator,1.00,6975.00,DANNY BEST AIR LLC,2023-02-03,DBA-041-02032023
14,Subcontractor,subcontractor,1.00,85.00,Oscar Rivera,2023-02-10,OR-041-02102023
15,Subcontractor,subcontractor,1.00,2520.00,St. Jude HVAC,2023-02-10,SJH-041-020102023
16,Subcontractor,subcontractor,1.00,6187.50,DANNY BEST AIR LLC,2023-02-17,DBA-041-02172023
17,Start Up,interna hours rate (porter),17.16,720.72,JE MECHANICAL RESIDENTIAL,2023-02-24,4483
18,Start Up,interna hours rate (porter),17.16,720.72,JE MECHANICAL RESIDENTIAL,2023-02-24,4483
19,Subcontractor,subcontractor,1.00,4054.50,St. Jude HVAC,2023-03-03,SJH-041-03032023
20,Subcontractor,subcontractor,1.00,2160.00,St. Jude HVAC,2023-03-17,SJH-041-03172023
21,Subcontractor,subcontractor,1.00,5175.00,DANNY BEST AIR LLC,2023-03-17,DBA-041-03172023
22,Subcontractor,subcontractor,1.00,6750.00,DANNY BEST AIR LLC,2023-03-31,DBA-041-03312023
23,Subcontractor,subcontractor,1.00,1440.00,St. Jude HVAC,2023-04-07,SJH-041-04072023
24,Subcontractor,subcontractor,1.00,10530.00,DANNY BEST AIR LLC,2023-04-14,DBA-041-04142023
25,Subcontractor,subcontractor,1.00,1071.00,OT Pro Air Conditioning,2023-04-14,OPAC-041-04142023
26,Subcontractor,subcontractor,1.00,3082.50,St. Jude HVAC,2023-04-14,SJH-041-04142023
27,Subcontractor,subcontractor,1.00,5467.50,DANNY BEST AIR LLC,2023-04-21,DBA-041-042120232
28,Subcontractor,subcontractor,1.00,8424.00,DANNY BEST AIR LLC,2023-04-21,DBA-041-04212023
29,Subcontractor,subcontractor,1.00,3375.00,St. Jude HVAC,2023-04-28,SJH-041-04282023
30,Subcontractor,subcontractor,1.00,715.50,OT Pro Air Conditioning,2023-04-28,OPAC-041-04282023
31,Subcontractor,subcontractor,1.00,715.50,OT Pro Air Conditioning,2023-05-05,OPAC-041-05042023
32,Subcontractor,subcontractor,1.00,810.00,St. Jude HVAC,2023-05-11,SJH-041-05112023
33,Subcontractor,subcontractor,1.00,540.00,OT Pro Air Conditioning,2023-05-11,OPAC-041-05112023
34,Subcontractor,subcontractor,1.00,4527.00,DANNY BEST AIR LLC,2023-05-11,DBA-041-05112023

In [558]:
direct_labor = ps_dropped_ret[ps_dropped_ret['Phase'].str.contains('Direct Field Labor|Direct Cost Labor', case=False)]
direct_labor

Empty DataFrame
Columns: [Phase, Item, Qty, Price, Subcontractor, Invoice Date, Invoice Number]
Index: []

Importacion de hojas del Takeoff

In [559]:
takeoff_materials = pd.read_excel(ruta_takeoff, sheet_name='Material Total List', header=3, usecols='B:L')
takeoff_time = pd.read_excel(ruta_takeoff,sheet_name='Direct Field Labor', header=2, usecols='B:H')
takeoff_subcontractors = pd.read_excel(ruta_takeoff,sheet_name='Subcontractor',header=15, usecols='B:F')
takeoff_equipment = pd.read_excel(ruta_takeoff,sheet_name='Equipment',header=rutas[project_name][2]-1, usecols='B:G')
takeoff_exhausfan = pd.read_excel(ruta_takeoff,sheet_name='Exhaust Fans',header=9, usecols='B:J')
apartments_takeoff = pd.read_excel(ruta_takeoff,sheet_name='Typical Schedule',header=2, usecols='B:C')
apartments_head = apartments_takeoff.head(5)
apartments = apartments_head['Total'].sum()
apartments

C:\Users\jecoo\AppData\Roaming\Python\Python311\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

296

Importa y limpia materiales en el TakeOff

In [560]:
takeoff_materials['Item'] = takeoff_materials['Item'].apply(lambda x: re.sub(r"\(\w\w?\w?\)", '',x)).str.strip().str.lower()
takeoff_materials = takeoff_materials.fillna(0)
takeoff_materials['Price'] = pd.to_numeric(takeoff_materials['Price'], errors='coerce')
takeoff_materials['QTY'] = pd.to_numeric(takeoff_materials['QTY'], errors='coerce')
takeoff_materials['Total Price'] = pd.to_numeric(takeoff_materials['Total Price'], errors='coerce')
to_materials = takeoff_materials.groupby('Item').agg({'Price':'mean','QTY':'sum','Total Price':'sum','Vendor':'first'}).reset_index()
to_materials = to_materials.dropna(subset=['Price'])
to_materials

,Item,Price,QTY,Total Price,Vendor
0,1/2 pint pvc glue,4.76,30.40000,144.704000,FERGUSON
1,"10"" elbow 90 26ga",3.90,9.00000,35.100000,FERGUSON
2,"10"" round rad damper",17.93,4.00000,71.720000,FERGUSON
3,"10"" snaplock pipe 26ga",16.98,29.76876,505.473545,FERGUSON
4,"10"" wall cap",10.00,4.00000,40.000000,(blank)
...,...,...,...,...,...
161,sheet metal box wall louver,50.00,1.00000,50.000000,(blank)
162,silphos 5% silver,32.00,27.36000,875.520000,FERGUSON
163,transfer box,3.00,505.50000,1516.500000,DUCT GENERAL- generic item
164,ui black cloth dctape 2x180 957b,9.73,60.80000,591.584000,FERGUSON
165,wl-a 12x12 esd-435 (12x12),253.00,1.00000,253.000000,GREENHECK

Limpia y ordena la tabla de materiales del Summary

In [561]:
purchases_materials.loc[:, 'Item'] = purchases_materials['Item'].apply(lambda x: re.sub(r"\(\w\w?\w?\)", '',x)).str.strip().str.lower()
purchases_materials = purchases_materials.loc[(purchases_materials['QTY Received'] != 0) & (purchases_materials['Price Billed'] != 0)]
purchases_materials['Contingencies'] = 0
purchases_materials.loc[purchases_materials['Phase'].str.contains('Contingen'),'Contingencies'] = purchases_materials['QTY Received']
purchases_materials

C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\2203736898.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchases_materials['Contingencies'] = 0

,Phase,Item,Cost Type,QTY Ordered,QTY Received,Price Billed,Vendor,Purchase Date,Invoice Number,Contingencies
0,AHU Equipment,condenser unit gsz140191l,Materials,30.0,30.0,29130.00,Goodman Distribution,09/26/2022,DB34284,0
1,AHU Equipment,condenser unit gsz140251l,Materials,30.0,30.0,30060.00,Goodman Distribution,09/26/2022,DB34284,0
2,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,43.20,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410050,0
3,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,20.50,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410051,0
4,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,109.80,OFFICE STORAGE INVENTORY 1420Redi,05/17/2023,90410053,0
...,...,...,...,...,...,...,...,...,...,...
633,Set Cu Contingencies,wire stripper and twister quick connector,Materials,2.0,2.0,19.90,Amazon,10/20/2022,NaN,2
634,Set Cu Contingencies,"wire twisting spinner 1/4"" blue",Materials,1.0,1.0,16.99,Amazon,10/20/2022,NaN,1
643,Vents Contingencies,5” to 4” reducer,Materials,205.0,205.0,971.70,Ferguson Enterprises Inc.,03/15/2023,NaN,205
646,Trim,30x12 stamped return,Materials,141.0,121.0,1144.92,Ferguson Enterprises Inc.,04/06/2023,NaN,0
647,Trim,36x12 stamped return,Materials,120.0,120.0,1956.00,Ferguson Enterprises Inc.,04/06/2023,NaN,0

In [562]:
try:
    for index, row in purchases_materials.iterrows():
        for sub_index, sub_row in pos.iterrows():
            if row['Item'] == sub_row['Item'] and row['Purchase Date'] == sub_row['Purchase Date']:
                purchases_materials.loc[index, 'PO #'] = sub_row['PO#']
except:
    pass

Genera Dataframes por cada ChangeOrder antes de eliminarlos del Dataframe Materiales

In [563]:
change_order_list = []

for item in purchases_materials['Phase']:
    match = re.search(r'Change Order #?(\d+)', item)
    if match:
        num = int(match.group(1))
        if num not in change_order_list:
            change_order_list.append(num)

change_order_list

[1, 2, 3]

In [564]:
def materials_split_co(change):
    new_df = purchases_materials[purchases_materials['Phase'].str.contains(f'Change Order #{change}', case= False)]
    return new_df

change_orders_dict = {}

if len(change_order_list) >= 0:
    for change in change_order_list:
        change_orders_dict[f'Change Order {change}'] = materials_split_co(change)
    purchases_materials['Change_Order_Number'] = purchases_materials['Phase'].str.extract(r'Change Order #?(\d+)', expand=False)
    materials_wo_co = purchases_materials[~purchases_materials['Change_Order_Number'].astype(float).isin(change_order_list) & ~purchases_materials['Phase'].str.contains('Canceled POs', case=False)]
    materials_wo_co = materials_wo_co.drop('Change_Order_Number', axis=1)
materials_wo_co

C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\340079003.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchases_materials['Change_Order_Number'] = purchases_materials['Phase'].str.extract(r'Change Order #?(\d+)', expand=False)

,Phase,Item,Cost Type,QTY Ordered,QTY Received,Price Billed,Vendor,Purchase Date,Invoice Number,Contingencies
0,AHU Equipment,condenser unit gsz140191l,Materials,30.0,30.0,29130.00,Goodman Distribution,09/26/2022,DB34284,0
1,AHU Equipment,condenser unit gsz140251l,Materials,30.0,30.0,30060.00,Goodman Distribution,09/26/2022,DB34284,0
2,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,43.20,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410050,0
3,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,20.50,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410051,0
4,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,109.80,OFFICE STORAGE INVENTORY 1420Redi,05/17/2023,90410053,0
...,...,...,...,...,...,...,...,...,...,...
633,Set Cu Contingencies,wire stripper and twister quick connector,Materials,2.0,2.0,19.90,Amazon,10/20/2022,NaN,2
634,Set Cu Contingencies,"wire twisting spinner 1/4"" blue",Materials,1.0,1.0,16.99,Amazon,10/20/2022,NaN,1
643,Vents Contingencies,5” to 4” reducer,Materials,205.0,205.0,971.70,Ferguson Enterprises Inc.,03/15/2023,NaN,205
646,Trim,30x12 stamped return,Materials,141.0,121.0,1144.92,Ferguson Enterprises Inc.,04/06/2023,NaN,0
647,Trim,36x12 stamped return,Materials,120.0,120.0,1956.00,Ferguson Enterprises Inc.,04/06/2023,NaN,0

In [565]:
def concat_dataframes(dictionary):
    # Get a list of dataframes from the dictionary values
    dataframes = list(dictionary.values())
    
    # Concatenate the dataframes into a single dataframe
    concatenated_df = pd.concat(dataframes, axis=0)
    
    return concatenated_df
change_orders = pd.DataFrame()

if len(change_order_list) > 0:
    change_orders = concat_dataframes(change_orders_dict)
    change_orders['Paired_Phase'] = 'Change Order'
    for index, row in change_orders.iterrows():
        change_orders.loc[index, 'Paired_Item'] = row['Item']
        change_orders.loc[index, 'Quantity'] = row['QTY Received']
    display(change_orders)

Empty DataFrame
Columns: [Phase, Item, Cost Type, QTY Ordered, QTY Received, Price Billed, Vendor, Purchase Date, Invoice Number, Contingencies, Paired_Phase]
Index: []

Materials Ductboard Transformation

In [566]:
get_ductboard_purchases = materials_wo_co
cleaned_materials_to_concat = materials_wo_co[~(materials_wo_co['Item'].str.contains('ductboard|ductboard r-4', case=False) & ~materials_wo_co['Item'].str.contains('ductboard sheet|ductboard start', case=False))]
get_ductboard_purchases[['Length','Width']] = materials_wo_co['Item'].str.extract(r'^(\d{1,2})x(\d{1,2})')
get_ductboard_purchases = get_ductboard_purchases[get_ductboard_purchases['Item'].str.contains('ductboard', case=False)]

ductb_purchases_values = pd.DataFrame()
# group by measurement and r value
if not get_ductboard_purchases.empty:
    get_ductboard_purchases.loc[:,'R-Value'] = get_ductboard_purchases['Item'].apply(lambda x: 'r-6' if re.search(r'r[-\s]?6', x, flags=re.IGNORECASE) else ('r-8' if re.search(r'r[-\s]?8', x, flags=re.IGNORECASE) else None))
    ductb_purchases_values = get_ductboard_purchases.groupby(['Length','Width', 'R-Value'], as_index=False).agg({'QTY Received': 'sum', 'Price Billed': 'sum'})
    ductb_purchases_values['Total Sheets'] = 0

C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\2817996332.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  get_ductboard_purchases.loc[:,'R-Value'] = get_ductboard_purchases['Item'].apply(lambda x: 'r-6' if re.search(r'r[-\s]?6', x, flags=re.IGNORECASE) else ('r-8' if re.search(r'r[-\s]?8', x, flags=re.IGNORECASE) else None))

In [567]:
def ductb_calculator(df):
    for index, rows in df.iterrows():
        total_in_box = (int(rows['Length'])*2)+(int(rows['Width'])*2)
        if rows['R-Value'] == 'r-6':
            sheet_cost = 42.96
            total_in_box += 12
        elif rows['R-Value'] == 'r-8':
            sheet_cost = 62.32
            total_in_box += 16
        if total_in_box < 120:
            num_box1_cut = 1
        in_residual = 120-total_in_box
        if in_residual >= total_in_box:
            num_box2_cut = 1
        elif in_residual >=(total_in_box/2):
            num_box2_cut = 0.5
        else:
            num_box2_cut = 0 
        in_residual_2 = (120-total_in_box) - (total_in_box*num_box2_cut)
        total_box_sheet = num_box1_cut + num_box2_cut
        qty = rows['QTY Received']
        total_sheets_required = qty/total_box_sheet
        df.at[index, 'Total Sheets'] = total_sheets_required
        residual_sqr_in = in_residual_2*48
        min_cap_sqr_inc = 14*12
        num_of_caps = residual_sqr_in/min_cap_sqr_inc
        total_cost_x_size = total_sheets_required*sheet_cost
        if qty > 0:
            box_unit_cost = total_cost_x_size/qty
            labor_cost_x_box = 0
            box_unit_total_cost = box_unit_cost+labor_cost_x_box
            total_cost = box_unit_total_cost*qty
            df.at[index, 'Total Cost'] = total_cost
        else: 
            df.at[index, 'Total Cost'] = 0

ductb_calculator(ductb_purchases_values)

In [568]:
ductb_sheets = ductb_purchases_values.groupby('R-Value').agg({'Total Sheets':'sum','Price Billed':'sum'}).reset_index()
ductb_sheets['Price'] = ductb_sheets['Price Billed']/ductb_sheets['Total Sheets']
ductb_sheets = ductb_sheets.rename(columns={'R-Value':'Item','Total Sheets':'QTY Received'})
ductb_sheets = ductb_sheets.reindex(columns=['Item','Price','QTY Received','Price Billed'])
ductb_sheets['Item'] = ductb_sheets['Item'].replace({'r-6': 'ductboard sheet r-6', 'r-8': 'ductboard sheet r-8'})
ductb_sheets

Empty DataFrame
Columns: [Item, Price, QTY Received, Price Billed]
Index: []

Aqui los ductboards ya fueron transformados y eliminados, se agregan los sheets a la tabla

In [569]:
if not ductb_sheets.empty:
    materials_wo_co_ductb_calculated =  pd.concat([cleaned_materials_to_concat,ductb_sheets], axis=0, ignore_index=True)
else: 
    materials_wo_co_ductb_calculated = cleaned_materials_to_concat
materials_wo_co_ductb_calculated

,Phase,Item,Cost Type,QTY Ordered,QTY Received,Price Billed,Vendor,Purchase Date,Invoice Number,Contingencies
0,AHU Equipment,condenser unit gsz140191l,Materials,30.0,30.0,29130.00,Goodman Distribution,09/26/2022,DB34284,0
1,AHU Equipment,condenser unit gsz140251l,Materials,30.0,30.0,30060.00,Goodman Distribution,09/26/2022,DB34284,0
2,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,43.20,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410050,0
3,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,20.50,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410051,0
4,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,109.80,OFFICE STORAGE INVENTORY 1420Redi,05/17/2023,90410053,0
...,...,...,...,...,...,...,...,...,...,...
633,Set Cu Contingencies,wire stripper and twister quick connector,Materials,2.0,2.0,19.90,Amazon,10/20/2022,NaN,2
634,Set Cu Contingencies,"wire twisting spinner 1/4"" blue",Materials,1.0,1.0,16.99,Amazon,10/20/2022,NaN,1
643,Vents Contingencies,5” to 4” reducer,Materials,205.0,205.0,971.70,Ferguson Enterprises Inc.,03/15/2023,NaN,205
646,Trim,30x12 stamped return,Materials,141.0,121.0,1144.92,Ferguson Enterprises Inc.,04/06/2023,NaN,0
647,Trim,36x12 stamped return,Materials,120.0,120.0,1956.00,Ferguson Enterprises Inc.,04/06/2023,NaN,0

Aqui se realiza la transformacion de los ductboards del takeoff

In [570]:
get_ductboard = to_materials
get_ductboard[['Length','Width']] = get_ductboard['Item'].str.extract(r'^(\d{1,2})x(\d{1,2})')
get_ductboard = get_ductboard[get_ductboard['Item'].str.contains('ductboard', case=False)]
cleaned_takeoff_to_concat = to_materials[~(to_materials['Item'].str.contains('ductboard', case=False) & ~to_materials['Item'].str.contains('ductboard sheet|ductboard start', case=False))]
# group by measurement and r value
get_ductboard.loc[:, 'R-Value'] = get_ductboard['Item'].apply(lambda x: 'r-6' if re.search(r'r[-\s]?6', x, flags=re.IGNORECASE) else ('r-8' if re.search(r'r[-\s]?8', x, flags=re.IGNORECASE) else None))
ductb_values = get_ductboard.groupby(['Length','Width', 'R-Value'], as_index=False).agg({'QTY': 'sum', 'Total Price': 'sum'})
ductb_values['Total Sheets'] = 0
ductb_values

C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\2735482220.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  get_ductboard.loc[:, 'R-Value'] = get_ductboard['Item'].apply(lambda x: 'r-6' if re.search(r'r[-\s]?6', x, flags=re.IGNORECASE) else ('r-8' if re.search(r'r[-\s]?8', x, flags=re.IGNORECASE) else None))

   Length Width R-Value         QTY  Total Price  Total Sheets
0      10    10     r-6   38.728025  3485.522250             0
1      12    10     r-6  178.687900  5053.196875             0
2      12    10     r-8   98.563000  2464.075000             0
3      12    12     r-6  226.855700  6983.567000             0
4      12    12     r-8  127.683500  3192.087500             0
5      14    12     r-6   13.077525  1176.977250             0
6      14    14     r-6   11.005975   990.537750             0
7      16    12     r-6   96.000000  2660.000000             0
8      16    12     r-8   56.000000  1400.000000             0
9      16    14     r-6    3.416225   307.460250             0
10     16    16     r-6   38.095775  3428.619750             0

In [571]:
def ductb_calculator(df):
    for index, rows in df.iterrows():
        total_in_box = (int(rows['Length'])*2)+(int(rows['Width'])*2)
        if rows['R-Value'] == 'r-6':
            sheet_cost = 42.96
            total_in_box += 12
        elif rows['R-Value'] == 'r-8':
            sheet_cost = 62.32
            total_in_box += 16
        if total_in_box < 120:
            num_box1_cut = 1
        in_residual = 120-total_in_box
        if in_residual >= total_in_box:
            num_box2_cut = 1
        elif in_residual >=(total_in_box/2):
            num_box2_cut = 0.5
        else:
            num_box2_cut = 0 
        in_residual_2 = (120-total_in_box) - (total_in_box*num_box2_cut)
        total_box_sheet = num_box1_cut + num_box2_cut
        qty = rows['QTY']
        total_sheets_required = qty/total_box_sheet
        df.at[index, 'Total Sheets'] = total_sheets_required
        residual_sqr_in = in_residual_2*48
        min_cap_sqr_inc = 14*12
        num_of_caps = residual_sqr_in/min_cap_sqr_inc
        total_cost_x_size = total_sheets_required*sheet_cost
        if qty > 0:
            box_unit_cost = total_cost_x_size/qty
            labor_cost_x_box = 0
            box_unit_total_cost = box_unit_cost+labor_cost_x_box
            total_cost = box_unit_total_cost*qty
            df.at[index, 'Total Cost'] = total_cost
        else: 
            df.at[index, 'Total Cost'] = 0


ductb_calculator(ductb_values)
ductb_values

   Length Width R-Value         QTY  Total Price  Total Sheets   Total Cost
0      10    10     r-6   38.728025  3485.522250     19.364013   831.877977
1      12    10     r-6  178.687900  5053.196875     89.343950  3838.216092
2      12    10     r-8   98.563000  2464.075000     49.281500  3071.223080
3      12    12     r-6  226.855700  6983.567000    113.427850  4872.860436
4      12    12     r-8  127.683500  3192.087500     85.122333  5304.823813
5      14    12     r-6   13.077525  1176.977250      8.718350   374.540316
6      14    14     r-6   11.005975   990.537750      7.337317   315.211124
7      16    12     r-6   96.000000  2660.000000     64.000000  2749.440000
8      16    12     r-8   56.000000  1400.000000     37.333333  2326.613333
9      16    14     r-6    3.416225   307.460250      2.277483    97.840684
10     16    16     r-6   38.095775  3428.619750     25.397183  1091.062996

In [572]:
ductb_sheets = ductb_values.groupby('R-Value').agg({'Total Sheets':'sum','Total Cost':'sum'}).reset_index()
ductb_sheets['Price'] = ductb_sheets['Total Cost']/ductb_sheets['Total Sheets']
ductb_sheets = ductb_sheets.rename(columns={'R-Value':'Item','Total Sheets':'QTY','Total Cost':'Total Price'})
ductb_sheets = ductb_sheets.reindex(columns=['Item','Price','QTY','Total Price'])
ductb_sheets['Item'] = ductb_sheets['Item'].replace({'r-6': 'ductboard sheet r-6', 'r-8': 'ductboard sheet r-8'})
ductb_sheets

                  Item  Price         QTY   Total Price
0  ductboard sheet r-6  42.96  329.866146  14171.049625
1  ductboard sheet r-8  62.32  171.737167  10702.660227

Agregar divisor de Lineset en sus componentes

In [573]:
to_materials_transformed = pd.concat([cleaned_takeoff_to_concat,ductb_sheets]).reset_index(drop=True).drop(columns=['Length','Width'])
to_materials_transformed

,Item,Price,QTY,Total Price,Vendor
0,1/2 pint pvc glue,4.76,30.400000,144.704000,FERGUSON
1,"10"" elbow 90 26ga",3.90,9.000000,35.100000,FERGUSON
2,"10"" round rad damper",17.93,4.000000,71.720000,FERGUSON
3,"10"" snaplock pipe 26ga",16.98,29.768760,505.473545,FERGUSON
4,"10"" wall cap",10.00,4.000000,40.000000,(blank)
...,...,...,...,...,...
152,transfer box,3.00,505.500000,1516.500000,DUCT GENERAL- generic item
153,ui black cloth dctape 2x180 957b,9.73,60.800000,591.584000,FERGUSON
154,wl-a 12x12 esd-435 (12x12),253.00,1.000000,253.000000,GREENHECK
155,ductboard sheet r-6,42.96,329.866146,14171.049625,NaN
156,ductboard sheet r-8,62.32,171.737167,10702.660227,NaN

In [574]:
lineset = to_materials_transformed
lineset['Item'] = lineset['Item'].astype(str) 
lineset = lineset[lineset['Item'].str.contains('lineset', case=False)]
lineset['Item']=lineset['Item'].replace()
lineset['Copper'] = lineset['Item'].str.extract(r'^(\d+/\d+)"?\s?')
#+x?+\s?(\d+/\d+)"?'
lineset

C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\954349229.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lineset['Item']=lineset['Item'].replace()
C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\954349229.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lineset['Copper'] = lineset['Item'].str.extract(r'^(\d+/\d+)"?\s?')

,Item,Price,QTY,Total Price,Vendor,Copper
46,"3/4""x3/8""x1/2""50' ls lineset insulated",170.0,468.24,79600.8,GOODMAN,3/4
75,"7/8""x3/8""x1/2""50' ls lineset insulated",170.0,6.00,1020.0,NB HANDY,7/8

Funcion de separacion de Lineset

In [575]:
def lineset_separator(row,rows,copper_1,copper_2,armaflex,value,armavalue):
    items = [f'{value}" copper roll 100ft', '3/8" copper roll 100ft', f'{value}" x {armavalue}" armaflex 100ft']
    qty = row['QTY'] / 2
    item_price = row['Price']
    vendor = row['Vendor']
    prices = [item_price*copper_1,item_price*copper_2,item_price*armaflex]
    for item in items:
        rows.append({'Item': item, 'QTY': qty,'Vendor':vendor})
    for i, price in enumerate(prices):
        rows[-len(items) + i]['Price'] = round(price,2)

In [576]:
lineset_components = pd.DataFrame(columns=['Item', 'QTY'])
rows = []

for index, row in lineset.iterrows():
    if row['Copper'] == '3/4' and rutas[project_name][3] == 'atlanta':
        copper_1 = 1.174601
        copper_2 = 0.560194
        armaflex = 0.265205
        lineset_separator(row,rows,copper_1,copper_2,armaflex,row['Copper'],'1/2')
    
    elif row['Copper'] == '3/4' and rutas[project_name][3] == 'florida':
        copper_1 = 1.043633
        copper_2 = 0.497733
        armaflex = 0.458634
        lineset_separator(row,rows,copper_1,copper_2,armaflex,row['Copper'],'3/4')

    elif row['Copper'] == '7/8' and rutas[project_name][3] == 'atlanta':
        copper_1 = 1.484427
        copper_2 = 0.341945
        armaflex = 0.173628
        lineset_separator(row,rows,copper_1,copper_2,armaflex,row['Copper'],'1/2')

    elif row['Copper'] == '7/8' and rutas[project_name][3] == 'florida':
        copper_1 = 1.322104
        copper_2 = 0.304553
        armaflex = 0.373343
        lineset_separator(row,rows,copper_1,copper_2,armaflex,row['Copper'],'3/4')

if rows:
    lineset_components = pd.concat([lineset_components, pd.DataFrame(rows)], ignore_index=True)
lineset_components['Total Price'] = lineset_components['QTY']*lineset_components['Price']
grouped_ls_components = lineset_components.groupby('Item').agg({'QTY':'sum','Vendor':'first','Total Price':'sum'}).reset_index()
grouped_ls_components['Price'] = grouped_ls_components['Total Price']/grouped_ls_components['QTY']
grouped_ls_components

to_materials_w_lineset = pd.concat([to_materials_transformed,grouped_ls_components], ignore_index= True)
to_materials_w_lineset

                           Item       Price        QTY   Total Price    Vendor
0             1/2 pint pvc glue    4.760000   30.40000    144.704000  FERGUSON
1             10" elbow 90 26ga    3.900000    9.00000     35.100000  FERGUSON
2          10" round rad damper   17.930000    4.00000     71.720000  FERGUSON
3        10" snaplock pipe 26ga   16.980000   29.76876    505.473545  FERGUSON
4                  10" wall cap   10.000000    4.00000     40.000000   (blank)
..                          ...         ...        ...           ...       ...
157      3/4" copper roll 100ft  199.680000  234.12000  46749.081600   GOODMAN
158  3/4" x 1/2" armaflex 100ft   45.080000  234.12000  10554.129600   GOODMAN
159      3/8" copper roll 100ft   94.760617  237.12000  22469.637600   GOODMAN
160      7/8" copper roll 100ft  252.350000    3.00000    757.050000  NB HANDY
161  7/8" x 1/2" armaflex 100ft   29.520000    3.00000     88.560000  NB HANDY

[162 rows x 5 columns]

Conecta con la base de datos

In [577]:
client = MongoClient('mongodb://localhost:27018/')
mr = client.main_reference
mrt = mr.main_reference_table
project_database = client[project_name]
project_collection = project_database.main_reference_table
collection_takeoff_reference = project_database.takeoff_reference
collection_unified_takeoff = project_database.unified_takeoff
grouping_main_table = mr.grouping_table
project_grouping_table = project_database.grouping_table

Unifica el Takeoff con la base de datos

In [578]:
takeoff_grouping_items = []
takeoff_grouping_unit_conv = []
takeoff_reference_dict = {}

# Convierte la base de datos en un diccionario para poder iterar las keys que tengan (.)
for document in collection_takeoff_reference.find():
    takeoff_reference_dict[document['Item']] = document['TakeOff Items']

# Compara los items de la tabla de takeoff para agrupar, unificar y subir a la base de datos.
for index, row in to_materials_w_lineset.iterrows():
    item = row['Item']
    # Desempaca el diccionario para acceder a los takeoff items y luego empatar todos con el "Item principal" del diccionario
    for item_de_empate, takeoff_item_desempacado in takeoff_reference_dict.items():
        for takeoff_de_empate, unit_converter_dict in takeoff_item_desempacado.items():
            for unit, unit_value in unit_converter_dict.items():
                if item == takeoff_de_empate:
                    takeoff_grouping_items.append(item_de_empate)
                    takeoff_grouping_unit_conv.append(unit_value)
                    break
            else:
                continue
            break
        else:
            continue
        break
    else:
        takeoff_grouping_items.append(f'{item} (Not in TakeOff)')
        takeoff_grouping_unit_conv.append(1)

to_materials_w_lineset['Grouping_Item'] = takeoff_grouping_items
to_materials_w_lineset['unit_converter'] = takeoff_grouping_unit_conv
to_materials_w_lineset['Grouping_QTY'] = to_materials_w_lineset['QTY']* to_materials_w_lineset['unit_converter'] 
unified_takeoff_table = to_materials_w_lineset.groupby('Grouping_Item').agg({'Grouping_QTY':'sum','Total Price':'sum','Price':'mean'}).reset_index()

In [579]:
def takeoff_unit_price(df):
    for index, row in df.iterrows():
        if row['Grouping_QTY'] > 0:
            df.at[index, 'Price'] = row['Total Price'] / row['Grouping_QTY']

takeoff_unit_price(unified_takeoff_table)
unified_takeoff_table.head(20)

,Grouping_Item,Grouping_QTY,Total Price,Price
0,1/2 pint pvc glue,30.400000,144.704000,4.760000
1,"10"" elbow 90 26ga",9.000000,35.100000,3.900000
2,"10"" round rad damper",4.000000,71.720000,17.930000
3,"10"" snaplock pipe 26ga",29.768760,505.473545,16.980000
4,"10"" wall cap",4.000000,40.000000,10.000000
5,"12"" black flex r-6",0.948904,34.720397,36.590000
6,12x12x12 stub wye,1.000000,25.000000,25.000000
7,12x6 3 way stamped supply,674.000000,1523.240000,2.260000
8,12x6x6 crd boot,17.000000,463.790000,27.281765
9,12x6x7 crd boot,657.000000,17418.000000,26.511416
10,"14"" black flex r-6",0.308800,13.028890,42.192000
11,14x16 stamped return,4.000000,20.000000,5.000000
12,14x16x12 crd boot,4.000000,103.000000,25.750000
13,14x6 3 way stamped supply,462.000000,1543.080000,3.340000
14,14x6x8 crd boot,462.000000,11339.460000,24.544286
15,"1599b fsk facing tape 3"" x 50yds",285.000000,3420.000000,12.000000
16,"1599b silver ul181b-fx tape 3""x120 yds",193.340000,2900.100000,15.000000
17,16x10 stamped return,592.000000,2368.000000,4.000000
18,16x16 square crd,1.000000,35.000000,35.000000
19,16x16 stamped return,3.000000,13.320000,4.440000

Crea una base de datos de takeoff unificado para empatar luego con materials_without_changeorder

In [580]:
def mongoelt(df, collection):
    
    for i, row in df.iterrows():
        item = row['Grouping_Item']
        price = row['Price']
        qty = row['Grouping_QTY']
        total_price = row['Total Price']
        
        # Check if the document already exists
        document = collection.find_one({'Item': item})
        if document is None:
                # If the document does not exist, insert a new one
                collection.insert_one({'Item': item, 'Price': price, 'QTY': qty ,'Total Price': total_price})
                
mongoelt(unified_takeoff_table, collection_unified_takeoff)

In [581]:
not_in_db = 'Not in Database'
not_grouping = 'Not Grouping'

# Itera la MRT de la coleccion y empata el item y la fase si los encuentra
def main_reference_table(collection, dict, row, phase):
    for doc in collection.find({'Item': row['Item']}):
        phase.append(doc['Phases'][0])
        if 'TakeOff Items' in doc.keys():
            dict[row['Item']] = doc['TakeOff Items']
        else:
            dict[row['Item']] = "Not in takeoff"
    return dict, phase


def to_material_unit_appender(to_value,unit_value,to_price,to_qty,to_total_price):
    takeoff_material.append(to_value)
    unit_converter.append(unit_value)
    takeoff_price.append(to_price)
    takeoff_qty.append(to_qty)
    takeoff_total_price.append(to_total_price)

#Convierte los agrupadores en diccionario para poder iterar por motivo de nombre con (.) o $
grouping_project_dic={}
for document in project_grouping_table.find():
        grouping_project_dic[document['Grouping Item']] = document['Items']
grouping_main_dict = {}
for document in grouping_main_table.find():
        grouping_main_dict[document['Grouping Item']] = document['Items']

i = 0     
phase = []
takeoff_material = []
unit_converter = []
takeoff_price = []
takeoff_qty = []
takeoff_total_price = []
grouping_item = []
grouping_unit_converter = []
# Iterar sobre los items del dataframe (ya se retiraron los change orders)
for index, row in materials_wo_co_ductb_calculated.iterrows():
    match_found = False  # Flag to track if a match is found
    for g_item, item_to_group in grouping_project_dic.items():
        for unpacked_item, unpacked_value in item_to_group.items():
            if unpacked_item == row['Item']:
                grouping_item.append(g_item)
                match_found = True
                break  # Exit the inner loop if a match is found
        # Exit the outer loop if a match is found
    if not match_found:
        for m_item, main_item_to_group in grouping_main_dict.items():
            for main_unpacked_item, main_unpacked_value in main_item_to_group.items():
                if main_unpacked_item == row['Item']:
                    grouping_item.append(m_item)
                    match_found = True
                    break  # Exit the inner loop if a match is found
            if match_found:
                break 
        else:
            grouping_item.append('Not Grouping')
    matched_item = {}   
    pointer = project_collection.count_documents({'Item': row['Item']})
    if pointer > 0:
        matched_item, phase = main_reference_table(project_collection, matched_item, row, phase)
    else:
        pointer = mrt.count_documents({'Item': row['Item']})
        if pointer > 0:
            matched_item, phase = main_reference_table(mrt, matched_item, row, phase)
        else:
            matched_item[row['Item']] = not_in_db
            phase.append(not_in_db)

    for item, takeoff_item in matched_item.items():
        if isinstance(takeoff_item, dict):
            if len(takeoff_item) == 1:
                for new_index, value in takeoff_item.items():
                    new_pointer = collection_unified_takeoff.count_documents({'Item': new_index})
                    if new_pointer > 0:
                        for document in collection_unified_takeoff.find({'Item': new_index}): 
                            to_material_unit_appender(document['Item'], value['Unit Converter'], document['Price'], document['QTY'], document['Total Price']) 
                    else:
                        to_material_unit_appender('Not in takeoff', 1, 0, 0, 0)
            else:
                match_found = False
                for new_new_index, value in takeoff_item.items():
                    inner_pointer = collection_unified_takeoff.count_documents({'Item': new_new_index})
                    if inner_pointer > 0:
                        for document in collection_unified_takeoff.find({'Item': new_new_index}):
                            to_material_unit_appender(document['Item'], value['Unit Converter'], document['Price'], document['QTY'], document['Total Price'])
                            match_found = True  # Set match_found flag to True
                    if match_found:
                        break  # Exit the loop if a match is found
                else:
                    to_material_unit_appender('Not in takeoff', 1, 0, 0, 0)
        elif takeoff_item is not_in_db:
            to_material_unit_appender(not_in_db, 1, 0, 0, 0)
        else:
            to_material_unit_appender('Not in takeoff', 1, 0, 0, 0)

materials_wo_co_ductb_calculated.loc[:, 'Takeoff_Material'] = takeoff_material
materials_wo_co_ductb_calculated.loc[:, 'Unit Converter'] = unit_converter
materials_wo_co_ductb_calculated.loc[:, 'Db Phase'] = phase
materials_wo_co_ductb_calculated.loc[:, 'Takeoff_Price'] = takeoff_price
materials_wo_co_ductb_calculated.loc[:, 'Takeoff_QTY'] = takeoff_qty
materials_wo_co_ductb_calculated.loc[:, 'Takeoff_total_price'] = takeoff_total_price
# Para reemplazar en cuanto consiga una tabla para el ejemplo
materials_wo_co_ductb_calculated.loc[:, 'Grouping Item'] = grouping_item
materials_wo_co_ductb_calculated.loc[:, 'Grouping Unit Converter'] = 1
materials_wo_co_ductb_calculated.loc[:, 'Db Phase'] = materials_wo_co_ductb_calculated['Db Phase'].astype(str)

C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\3676150641.py:99: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  materials_wo_co_ductb_calculated.loc[:, 'Takeoff_Material'] = takeoff_material
C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\3676150641.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  materials_wo_co_ductb_calculated.loc[:, 'Unit Converter'] = unit_converter
C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\3676150641.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  materials_wo_co_ductb_calculated.loc[:, 'Db Phase'] = phase
C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\3676150641.py:102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  materials_wo_co_ductb_calculated.loc[:, 'Takeoff_Price'] = takeoff_price
C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\3676150641.py:103: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  materials_wo_co_ductb_calculated.loc[:, 'Takeoff_QTY'] = takeoff_qty
C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\3676150641.py:104: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  materials_wo_co_ductb_calculated.loc[:, 'Takeoff_total_price'] = takeoff_total_price
C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\3676150641.py:106: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  materials_wo_co_ductb_calculated.loc[:, 'Grouping Item'] = grouping_item
C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\3676150641.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  materials_wo_co_ductb_calculated.loc[:, 'Grouping Unit Converter'] = 1

Se extrae los equipments y se guardan en su propio dataframe

In [582]:

materials_no_eq = materials_wo_co_ductb_calculated[~materials_wo_co_ductb_calculated['Db Phase'].str.contains('equipment', case = False)]
purchased_equipment = materials_wo_co_ductb_calculated[materials_wo_co_ductb_calculated['Db Phase'].str.contains('equipment', case = False)]
materials_no_eq

,Phase,Item,Cost Type,QTY Ordered,QTY Received,Price Billed,Vendor,Purchase Date,Invoice Number,Contingencies,Takeoff_Material,Unit Converter,Db Phase,Takeoff_Price,Takeoff_QTY,Takeoff_total_price,Grouping Item,Grouping Unit Converter
2,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,43.20,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410050,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
3,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,20.50,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410051,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
4,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,109.80,OFFICE STORAGE INVENTORY 1420Redi,05/17/2023,90410053,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
5,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,129.78,OFFICE STORAGE INVENTORY 2650Betheview,03/24/2023,90410049,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
6,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,131.04,OFFICE STORAGE INVENTORY 1420Redi,05/11/2023,90410059,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,Set Cu Contingencies,wire stripper and twister quick connector,Materials,2.0,2.0,19.90,Amazon,10/20/2022,NaN,2,Not in takeoff,1.0,Ducts,0.0,0.0,0.0,Not Grouping,1
634,Set Cu Contingencies,"wire twisting spinner 1/4"" blue",Materials,1.0,1.0,16.99,Amazon,10/20/2022,NaN,1,Not in takeoff,1.0,Miscellaneous,0.0,0.0,0.0,Not Grouping,1
643,Vents Contingencies,5” to 4” reducer,Materials,205.0,205.0,971.70,Ferguson Enterprises Inc.,03/15/2023,NaN,205,Not in takeoff,1.0,Vents,0.0,0.0,0.0,Not Grouping,1
646,Trim,30x12 stamped return,Materials,141.0,121.0,1144.92,Ferguson Enterprises Inc.,04/06/2023,NaN,0,Not in takeoff,1.0,Trim,0.0,0.0,0.0,Not Grouping,1
647,Trim,36x12 stamped return,Materials,120.0,120.0,1956.00,Ferguson Enterprises Inc.,04/06/2023,NaN,0,36x10 stamped return,1.0,Trim,10.0,58.0,580.0,Not Grouping,1

Se extrae los exhaust fans y se guardan en su propio dataframe

In [583]:
materials_no_ef = materials_no_eq[~materials_no_eq['Db Phase'].str.contains('exhaust fan', case = False)]
purchased_exhaust_fans = materials_no_eq[materials_no_eq['Db Phase'].str.contains('exhaust fan', case = False)]
materials_no_ef

,Phase,Item,Cost Type,QTY Ordered,QTY Received,Price Billed,Vendor,Purchase Date,Invoice Number,Contingencies,Takeoff_Material,Unit Converter,Db Phase,Takeoff_Price,Takeoff_QTY,Takeoff_total_price,Grouping Item,Grouping Unit Converter
2,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,43.20,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410050,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
3,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,20.50,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410051,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
4,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,109.80,OFFICE STORAGE INVENTORY 1420Redi,05/17/2023,90410053,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
5,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,129.78,OFFICE STORAGE INVENTORY 2650Betheview,03/24/2023,90410049,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
6,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,131.04,OFFICE STORAGE INVENTORY 1420Redi,05/11/2023,90410059,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,Set Cu Contingencies,wire stripper and twister quick connector,Materials,2.0,2.0,19.90,Amazon,10/20/2022,NaN,2,Not in takeoff,1.0,Ducts,0.0,0.0,0.0,Not Grouping,1
634,Set Cu Contingencies,"wire twisting spinner 1/4"" blue",Materials,1.0,1.0,16.99,Amazon,10/20/2022,NaN,1,Not in takeoff,1.0,Miscellaneous,0.0,0.0,0.0,Not Grouping,1
643,Vents Contingencies,5” to 4” reducer,Materials,205.0,205.0,971.70,Ferguson Enterprises Inc.,03/15/2023,NaN,205,Not in takeoff,1.0,Vents,0.0,0.0,0.0,Not Grouping,1
646,Trim,30x12 stamped return,Materials,141.0,121.0,1144.92,Ferguson Enterprises Inc.,04/06/2023,NaN,0,Not in takeoff,1.0,Trim,0.0,0.0,0.0,Not Grouping,1
647,Trim,36x12 stamped return,Materials,120.0,120.0,1956.00,Ferguson Enterprises Inc.,04/06/2023,NaN,0,36x10 stamped return,1.0,Trim,10.0,58.0,580.0,Not Grouping,1

Se extrae los Subcontractors y Direct Field Labor y se guardan en su propio dataframe

In [584]:
materials_no_subcontractors_or_dfl = materials_no_ef[~materials_no_ef['Db Phase'].str.contains('direct field labor|subcontractor', case = False)]
purchased_extras = materials_no_ef[materials_no_ef['Db Phase'].str.contains('direct field labor|subcontractor', case = False)]
materials_no_subcontractors_or_dfl

,Phase,Item,Cost Type,QTY Ordered,QTY Received,Price Billed,Vendor,Purchase Date,Invoice Number,Contingencies,Takeoff_Material,Unit Converter,Db Phase,Takeoff_Price,Takeoff_QTY,Takeoff_total_price,Grouping Item,Grouping Unit Converter
2,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,43.20,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410050,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
3,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,20.50,OFFICE STORAGE INVENTORY 1420Redi,04/21/2023,90410051,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
4,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,109.80,OFFICE STORAGE INVENTORY 1420Redi,05/17/2023,90410053,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
5,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,129.78,OFFICE STORAGE INVENTORY 2650Betheview,03/24/2023,90410049,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
6,BAD PERFORMANCE,20% bad performance,Materials,1.0,1.0,131.04,OFFICE STORAGE INVENTORY 1420Redi,05/11/2023,90410059,0,Not in takeoff,1.0,Bad Performance,0.0,0.0,0.0,Not Grouping,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,Set Cu Contingencies,wire stripper and twister quick connector,Materials,2.0,2.0,19.90,Amazon,10/20/2022,NaN,2,Not in takeoff,1.0,Ducts,0.0,0.0,0.0,Not Grouping,1
634,Set Cu Contingencies,"wire twisting spinner 1/4"" blue",Materials,1.0,1.0,16.99,Amazon,10/20/2022,NaN,1,Not in takeoff,1.0,Miscellaneous,0.0,0.0,0.0,Not Grouping,1
643,Vents Contingencies,5” to 4” reducer,Materials,205.0,205.0,971.70,Ferguson Enterprises Inc.,03/15/2023,NaN,205,Not in takeoff,1.0,Vents,0.0,0.0,0.0,Not Grouping,1
646,Trim,30x12 stamped return,Materials,141.0,121.0,1144.92,Ferguson Enterprises Inc.,04/06/2023,NaN,0,Not in takeoff,1.0,Trim,0.0,0.0,0.0,Not Grouping,1
647,Trim,36x12 stamped return,Materials,120.0,120.0,1956.00,Ferguson Enterprises Inc.,04/06/2023,NaN,0,36x10 stamped return,1.0,Trim,10.0,58.0,580.0,Not Grouping,1

Se extrae los Extras y se guardan en su propio dataframe

In [585]:
extras_list = 'Delivery|Tax|Gas|Extra|Bad Performance|Company Office OH|Field Labor|Storage|Credit Cards|Crane|Hotel/Rent|Permits|Tarjeta de Credito Belen Madera|Tarjeta de Credito Carlos Uribe|Trips to Waterset|Heaters|Pending|Permit'
materials_no_extras = materials_no_subcontractors_or_dfl[~materials_no_subcontractors_or_dfl['Db Phase'].str.contains(extras_list, case = False)]
purchased_extras = materials_no_subcontractors_or_dfl[materials_no_subcontractors_or_dfl['Db Phase'].str.contains(extras_list, case = False)]
extras_grouped = purchased_extras.groupby('Db Phase').agg({'Price Billed':'sum'}).reset_index()
materials_no_extras

,Phase,Item,Cost Type,QTY Ordered,QTY Received,Price Billed,Vendor,Purchase Date,Invoice Number,Contingencies,Takeoff_Material,Unit Converter,Db Phase,Takeoff_Price,Takeoff_QTY,Takeoff_total_price,Grouping Item,Grouping Unit Converter
17,Change Order - BLDG 300 Clubhouse,10” black flex r-6,Materials,10.0,10.0,485.80,OFFICE STORAGE INVENTORY 1420Redi,03/15/2023,90410047,0,Not in takeoff,1.0,Ducts,0.00,0.0,0.00,Not Grouping,1
30,Condenser Contingencies,roof jack cap 10-1/8 x 19-5/8,Materials,30.0,30.0,886.80,"Diamond Metal Fabrication, Inc.",01/12/2023,245644,30,Not in takeoff,1.0,Vents,0.00,0.0,0.00,Not Grouping,1
31,Condenser Units Accessories,"3"" antivibration pad rubber/cork",Materials,220.0,220.0,167.20,Ferguson Enterprises Inc.,10/11/2022,4238164,0,"4"" antivibration pad rubber/cork",1.0,Set CU,0.87,1216.0,1057.92,Not Grouping,1
32,Condenser Units Accessories,36x36x3 polypropylene equipment pad,Materials,248.0,248.0,7750.00,"Conklin Metal Industries, Inc.",05/10/2023,3218848,0,Not in takeoff,1.0,Set Cu,0.00,0.0,0.00,Not Grouping,1
33,Condenser Units Accessories,"6"" antivibration pad rubber/cork",Materials,45.0,45.0,185.40,OFFICE STORAGE INVENTORY 1420Redi,10/19/2022,90410020,0,"4"" antivibration pad rubber/cork",1.0,Set CU,0.87,1216.0,1057.92,Not Grouping,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,Set Cu Contingencies,wire stripper and twister quick connector,Materials,2.0,2.0,19.90,Amazon,10/20/2022,NaN,2,Not in takeoff,1.0,Ducts,0.00,0.0,0.00,Not Grouping,1
634,Set Cu Contingencies,"wire twisting spinner 1/4"" blue",Materials,1.0,1.0,16.99,Amazon,10/20/2022,NaN,1,Not in takeoff,1.0,Miscellaneous,0.00,0.0,0.00,Not Grouping,1
643,Vents Contingencies,5” to 4” reducer,Materials,205.0,205.0,971.70,Ferguson Enterprises Inc.,03/15/2023,NaN,205,Not in takeoff,1.0,Vents,0.00,0.0,0.00,Not Grouping,1
646,Trim,30x12 stamped return,Materials,141.0,121.0,1144.92,Ferguson Enterprises Inc.,04/06/2023,NaN,0,Not in takeoff,1.0,Trim,0.00,0.0,0.00,Not Grouping,1
647,Trim,36x12 stamped return,Materials,120.0,120.0,1956.00,Ferguson Enterprises Inc.,04/06/2023,NaN,0,36x10 stamped return,1.0,Trim,10.00,58.0,580.00,Not Grouping,1

Materiales Retornados

Se compara Si hay o no en takeoff para contingencia y crear el item para emparejar
Ademas verifica si el item que no esta en takeoff igual se debe emparejar

In [586]:
for index, row in materials_no_extras.iterrows():
    if row['Price Billed'] < 0 and row['QTY Received'] > 0:
        row['QTY Received'] = row['QTY Received'] * -1

for index, row in materials_no_extras.iterrows():
    if row['Price Billed'] < 0 and row['QTY Received'] > 0:
        materials_no_extras.at[index, 'QTY Received'] = row['QTY Received'] * -1

for index, rows in materials_no_extras.iterrows():
    if rows['Takeoff_Material'] == 'Not in takeoff' or rows['Takeoff_Material'] == 'Not in Database':
        if rows['Grouping Item'] == 'Not Grouping':
            materials_no_extras.loc[index, 'Quantity'] = rows['QTY Received'] * rows['Unit Converter']
            materials_no_extras.loc[index, 'Paired_Item'] = rows['Item']
        else:
            materials_no_extras.loc[index, 'Paired_Item'] = rows['Grouping Item']
            materials_no_extras.loc[index, 'Quantity'] = rows['QTY Received'] * rows['Grouping Unit Converter']

        materials_no_extras.loc[index, 'Paired_Phase'] = rows['Db Phase'] + ' Contingencies'
    else:
        if rows['Grouping Item'] == 'Not Grouping':
            materials_no_extras.loc[index, 'Quantity'] = rows['QTY Received'] * rows['Unit Converter']
            materials_no_extras.loc[index, 'Paired_Item'] = rows['Takeoff_Material']
        else:
            materials_no_extras.loc[index, 'Quantity'] = rows['QTY Received'] * rows['Unit Converter']
            materials_no_extras.loc[index, 'Paired_Item'] = rows['Grouping Item']
        materials_no_extras.loc[index, 'Paired_Phase'] = rows['Db Phase']
materials_no_extras

for index, row in materials_no_extras.iterrows():
    if row['Price Billed'] < 0 and row['QTY Received'] > 0:
        materials_no_extras.at[index, 'QTY Received'] = row['QTY Received'] * -1
if change_orders.empty:
    materials_no_extras = pd.concat([materials_no_extras,change_orders], axis=0)
materials_no_extras

C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\2216224692.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  materials_no_extras.loc[index, 'Quantity'] = rows['QTY Received'] * rows['Unit Converter']
C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\2216224692.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  materials_no_extras.loc[index, 'Paired_Item'] = rows['Item']
C:\Users\jecoo\AppData\Local\Temp\ipykernel_22672\2216224692.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  materials_no_extras.loc[index, 'Paired_Phase'] = rows['Db Phase'] + ' Contingencies'

,Phase,Item,Cost Type,QTY Ordered,QTY Received,Price Billed,Vendor,Purchase Date,Invoice Number,Contingencies,...,Unit Converter,Db Phase,Takeoff_Price,Takeoff_QTY,Takeoff_total_price,Grouping Item,Grouping Unit Converter,Quantity,Paired_Item,Paired_Phase
17,Change Order - BLDG 300 Clubhouse,10” black flex r-6,Materials,10.0,10.0,485.80,OFFICE STORAGE INVENTORY 1420Redi,03/15/2023,90410047,0,...,1.0,Ducts,0.00,0.0,0.00,Not Grouping,1.0,10.0,10” black flex r-6,Ducts Contingencies
30,Condenser Contingencies,roof jack cap 10-1/8 x 19-5/8,Materials,30.0,30.0,886.80,"Diamond Metal Fabrication, Inc.",01/12/2023,245644,30,...,1.0,Vents,0.00,0.0,0.00,Not Grouping,1.0,30.0,roof jack cap 10-1/8 x 19-5/8,Vents Contingencies
31,Condenser Units Accessories,"3"" antivibration pad rubber/cork",Materials,220.0,220.0,167.20,Ferguson Enterprises Inc.,10/11/2022,4238164,0,...,1.0,Set CU,0.87,1216.0,1057.92,Not Grouping,1.0,220.0,"4"" antivibration pad rubber/cork",Set CU
32,Condenser Units Accessories,36x36x3 polypropylene equipment pad,Materials,248.0,248.0,7750.00,"Conklin Metal Industries, Inc.",05/10/2023,3218848,0,...,1.0,Set Cu,0.00,0.0,0.00,Not Grouping,1.0,248.0,36x36x3 polypropylene equipment pad,Set Cu Contingencies
33,Condenser Units Accessories,"6"" antivibration pad rubber/cork",Materials,45.0,45.0,185.40,OFFICE STORAGE INVENTORY 1420Redi,10/19/2022,90410020,0,...,1.0,Set CU,0.87,1216.0,1057.92,Not Grouping,1.0,45.0,"4"" antivibration pad rubber/cork",Set CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,Set Cu Contingencies,wire stripper and twister quick connector,Materials,2.0,2.0,19.90,Amazon,10/20/2022,NaN,2,...,1.0,Ducts,0.00,0.0,0.00,Not Grouping,1.0,2.0,wire stripper and twister quick connector,Ducts Contingencies
634,Set Cu Contingencies,"wire twisting spinner 1/4"" blue",Materials,1.0,1.0,16.99,Amazon,10/20/2022,NaN,1,...,1.0,Miscellaneous,0.00,0.0,0.00,Not Grouping,1.0,1.0,"wire twisting spinner 1/4"" blue",Miscellaneous Contingencies
643,Vents Contingencies,5” to 4” reducer,Materials,205.0,205.0,971.70,Ferguson Enterprises Inc.,03/15/2023,NaN,205,...,1.0,Vents,0.00,0.0,0.00,Not Grouping,1.0,205.0,5” to 4” reducer,Vents Contingencies
646,Trim,30x12 stamped return,Materials,141.0,121.0,1144.92,Ferguson Enterprises Inc.,04/06/2023,NaN,0,...,1.0,Trim,0.00,0.0,0.00,Not Grouping,1.0,121.0,30x12 stamped return,Trim Contingencies
647,Trim,36x12 stamped return,Materials,120.0,120.0,1956.00,Ferguson Enterprises Inc.,04/06/2023,NaN,0,...,1.0,Trim,10.00,58.0,580.00,Not Grouping,1.0,120.0,36x10 stamped return,Trim

In [587]:
materials_returned = pd.DataFrame()
try:
    for index, row in materials_no_extras.iterrows():
        if row['Price Billed'] < 0 or row['QTY Received'] < 0:
            materials_returned = pd.concat([materials_returned, row.to_frame().T], ignore_index=True)
    #ESTE DE AQUI
    #materials_returned_selected = materials_returned.loc[:,['Phase','Item','QTY Received','Price Billed','Purchase Date']]
    materials_returned_reference = pd.DataFrame(materials_returned['Paired_Item'])
    materials_returned
except:
    materials_returned = pd.DataFrame()
    materials_returned_reference = pd.DataFrame()

Agrupacion de Materiales por medio del Paired_Item

In [588]:
materials_grouped = materials_no_extras.groupby('Paired_Item').agg({'Paired_Phase':'first','Quantity':'sum','Price Billed':'sum','Takeoff_Price':'max','Takeoff_QTY':'max','Takeoff_total_price':'max','Contingencies':'sum'}).reset_index().rename(columns={'Paired_Item':'Item','Paired_Phase':'Phase','Takeoff_Price':'Price','Takeoff_QTY':'QTY','Takeoff_total_price':'Total Price'})
materials_grouped

,Item,Phase,Quantity,Price Billed,Price,QTY,Total Price,Contingencies
0,1-3/4x100’ nylon web black duct strap,Ducts Contingencies,41.0,185.53,0.00,0.0,0.000,36
1,1/2 pint pvc glue,Hang AHU,20.0,173.88,4.76,30.4,144.704,0
2,1/4 x 10 ft threaded rod,Miscellaneous Contingencies,2.0,18.76,0.00,0.0,0.000,0
3,"1/4x1/4x4"" access/service valve 10 pk",Miscellaneous Contingencies,22.0,285.78,0.00,0.0,0.000,0
4,"10"" elbow 90 26ga",Vents,11.0,73.70,3.90,9.0,35.100,0
...,...,...,...,...,...,...,...,...
130,ui black cloth dctape 2x180 957b,Copper,70.0,1229.90,9.73,60.8,591.584,0
131,"ul 181 red letter tape #1581a 2 1/2"" part # vt...",Miscellaneous Contingencies,176.0,3458.80,0.00,0.0,0.000,0
132,ul181 red letter aluminum foil tape #1581a 2 1...,Miscellaneous Contingencies,20.0,237.00,0.00,0.0,0.000,0
133,wire stripper and twister quick connector,Ducts Contingencies,2.0,19.90,0.00,0.0,0.000,2
134,"wire twisting spinner 1/4"" blue",Miscellaneous Contingencies,1.0,16.99,0.00,0.0,0.000,1

In [589]:
materials_returned_table = pd.DataFrame()  # Initialize an empty DataFrame
dummy_data = {
    'No_Material_returned': ['No Item'],
    'QTY': [0],
    'Price': [0],
}

try:
    for index, row in materials_no_extras.iterrows():
        for index1, row1 in materials_returned_reference.iterrows():
            if row['Paired_Item'] == row1['Paired_Item']:
                materials_returned_table = pd.concat([materials_returned_table, row.to_frame().T], ignore_index=True)

    materials_returned_table
    materials_returned_grouped = materials_returned_table[['Paired_Phase','Paired_Item','Item','QTY Received','Quantity','Price Billed','Vendor','Purchase Date']].sort_values(by='Paired_Item')
    materials_returned_grouped
except:
    materials_returned_grouped = pd.DataFrame(dummy_data)

In [590]:
def purchased_out_of_total_takeoff(df):
    for index, rows in df.iterrows():
        if rows['ESTIMATE IN TAKEOFF'] > rows['Total QTY Received']:
            df.at[index, 'PURCHASED OUT OF TOTAL TAKEOFF'] = rows['Total QTY Received']
        else:
            df.at[index, 'PURCHASED OUT OF TOTAL TAKEOFF'] = rows['ESTIMATE IN TAKEOFF']

def prct_qty_not_estimated(df,row1,row2,newrow):
    for index,rows in df.iterrows():
        denominator = rows[row1]
        numerator = rows[row2]
        if denominator == 0:
            df.at[index,newrow] = 1
        else:
            df.at[index,newrow] = ((numerator/denominator)-1)*-1

Se crea la tabla para comparar general que compara los items del takeoff con purchases

In [591]:
purchase_takeoff_table = materials_grouped
purchase_takeoff_table['Comentarios'] = ''
purchase_takeoff_table['Price per unit Invoiced'] = materials_grouped['Price Billed']/materials_grouped['Quantity']
purchase_takeoff_table['Price per unit Invoiced'] = purchase_takeoff_table['Price per unit Invoiced'].fillna(0)
purchase_takeoff_table = purchase_takeoff_table.rename(columns={'Quantity':'Total QTY Received','QTY':'ESTIMATE IN TAKEOFF','Price':'Price per unit Estimated','Contingencies':'QTY as Contingency (Knowify)'}).drop('Price Billed', axis=1)
purchase_takeoff_table = purchase_takeoff_table.drop('Total Price', axis=1)
purchased_out_of_total_takeoff(purchase_takeoff_table)
purchase_takeoff_table['ESTIMATE PENDING PURCHASE'] = purchase_takeoff_table['ESTIMATE IN TAKEOFF'] - purchase_takeoff_table['PURCHASED OUT OF TOTAL TAKEOFF']
purchase_takeoff_table['QTY NOT ESTIMATED (OVER-BUDGET)'] = purchase_takeoff_table['Total QTY Received'] - purchase_takeoff_table['PURCHASED OUT OF TOTAL TAKEOFF']
purchase_takeoff_table['# of Apt'] = apartments
purchase_takeoff_table['Qty estimated per apt'] = purchase_takeoff_table['PURCHASED OUT OF TOTAL TAKEOFF']/purchase_takeoff_table['# of Apt']
purchase_takeoff_table['Qty off per apt'] = purchase_takeoff_table['QTY NOT ESTIMATED (OVER-BUDGET)']/purchase_takeoff_table['# of Apt']
purchase_takeoff_table['Total Qty per Apt'] = purchase_takeoff_table['Qty estimated per apt']+purchase_takeoff_table['Qty off per apt'] 
purchase_takeoff_table['% Compensated Estimate'] = purchase_takeoff_table['Qty off per apt']/purchase_takeoff_table['Total Qty per Apt']
prct_qty_not_estimated(purchase_takeoff_table,'QTY NOT ESTIMATED (OVER-BUDGET)','Total QTY Received','% Qty Not Estimated')
prct_qty_not_estimated(purchase_takeoff_table,'Price per unit Estimated','Price per unit Invoiced','% Price Diff per Unit')
purchase_takeoff_table['Total Estimated Price'] = purchase_takeoff_table['Price per unit Estimated']*purchase_takeoff_table['PURCHASED OUT OF TOTAL TAKEOFF']
purchase_takeoff_table['Estimated Invoice'] = purchase_takeoff_table['Price per unit Invoiced']*purchase_takeoff_table['PURCHASED OUT OF TOTAL TAKEOFF']
purchase_takeoff_table['Total Price Over Budget'] = purchase_takeoff_table['Price per unit Invoiced'] * purchase_takeoff_table['QTY NOT ESTIMATED (OVER-BUDGET)']
purchase_takeoff_table['Total Price Invoiced'] = purchase_takeoff_table['Estimated Invoice'] + purchase_takeoff_table['Total Price Over Budget']
purchase_takeoff_table['Total Price Difference'] = purchase_takeoff_table['Total Estimated Price'] - purchase_takeoff_table['Total Price Invoiced']
prct_qty_not_estimated(purchase_takeoff_table,'Total Estimated Price','Total Price Invoiced',"% of Diference (Estimated vs Invoiced)")
purchase_takeoff_table['QTY as Budget (Knowify)'] = purchase_takeoff_table['Total QTY Received'] - purchase_takeoff_table['QTY as Contingency (Knowify)']
desired_order = ['Phase',
 'Item',
 'Comentarios',
 'ESTIMATE IN TAKEOFF',
 'PURCHASED OUT OF TOTAL TAKEOFF',
 'ESTIMATE PENDING PURCHASE',
 'QTY NOT ESTIMATED (OVER-BUDGET)',
 'QTY as Budget (Knowify)',
 'QTY as Contingency (Knowify)',
 'Total QTY Received',
 '# of Apt',
 'Qty estimated per apt',
 'Qty off per apt',
 '% Compensated Estimate',
 '% Qty Not Estimated',
 'Total Qty per Apt',
 'Price per unit Estimated',
 'Price per unit Invoiced',
 '% Price Diff per Unit',
 'Total Estimated Price',
 'Estimated Invoice',
 'Total Price Over Budget',
 'Total Price Invoiced',
 'Total Price Difference',
 '% of Diference (Estimated vs Invoiced)']

purchase_takeoff_table = purchase_takeoff_table.round(2)
purchase_takeoff_table = purchase_takeoff_table.reindex(columns=desired_order).sort_values(by='Phase')
purchase_takeoff_table

,Phase,Item,Comentarios,ESTIMATE IN TAKEOFF,PURCHASED OUT OF TOTAL TAKEOFF,ESTIMATE PENDING PURCHASE,QTY NOT ESTIMATED (OVER-BUDGET),QTY as Budget (Knowify),QTY as Contingency (Knowify),Total QTY Received,...,Total Qty per Apt,Price per unit Estimated,Price per unit Invoiced,% Price Diff per Unit,Total Estimated Price,Estimated Invoice,Total Price Over Budget,Total Price Invoiced,Total Price Difference,% of Diference (Estimated vs Invoiced)
75,Copper,"7/8"" copper roll 100ft",,3.00,3.00,0.00,1.00,4.00,0,4.00,...,0.01,252.35,220.00,0.13,757.05,660.00,220.00,880.00,-122.95,-0.16
115,Copper,oxygen 20 gas only - ask before you order,,18.24,10.00,8.24,0.00,9.00,1,10.00,...,0.03,5.13,18.42,-2.59,51.30,184.22,0.00,184.22,-132.92,-2.59
114,Copper,nitrogen 80 gas only - ask before you order,,21.28,6.06,15.22,0.00,5.06,1,6.06,...,0.02,28.38,39.09,-0.38,172.05,236.96,0.00,236.96,-64.91,-0.38
25,Copper,20/8 thermostat wire - 250'/roll,,100.32,100.32,0.00,13.68,114.00,0,114.00,...,0.39,59.43,51.77,0.13,5962.07,5193.14,708.16,5901.30,60.77,0.01
90,Copper,acetylene 40 gas only - ask before you order,,18.24,4.75,13.49,0.00,3.75,1,4.75,...,0.02,20.74,52.07,-1.51,98.52,247.33,0.00,247.33,-148.82,-1.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,Vents Contingencies,return box 24.5x21 with filter rack,,0.00,0.00,0.00,5.00,5.00,0,5.00,...,0.02,0.00,107.38,1.00,0.00,0.00,536.90,536.90,-536.90,1.00
7,Wall cap,"10"" wall cap",,4.00,4.00,0.00,0.00,4.00,0,4.00,...,0.01,10.00,93.45,-8.35,40.00,373.80,0.00,373.80,-333.80,-8.35
52,Wall cap,"4"" wall cap",,747.00,617.00,130.00,0.00,617.00,0,617.00,...,2.08,4.00,3.42,0.14,2468.00,2112.64,0.00,2112.64,355.36,0.14
83,Wall cap,"8"" wall cap",,7.00,7.00,0.00,1.00,8.00,0,8.00,...,0.03,8.00,36.10,-3.51,56.00,252.70,36.10,288.80,-232.80,-4.16
70,Wall cap,"6"" wall cap",,593.00,323.00,270.00,0.00,323.00,0,323.00,...,1.09,5.54,18.46,-2.33,1789.42,5963.00,0.00,5963.00,-4173.58,-2.33

De aqui para abajo es todo Takeoff/Breakdown

Convertir en tablas los exhaust fans y los equipment

In [592]:
takeoff_exhausfan.dropna(subset=['Space'],inplace=True)
to_ef_sum = takeoff_exhausfan['Total'].sum()
takeoff_exhausfan

,Space,Type,Unnamed: 3,Item,Brand,QTY,Unit Price,Radiation Damper,Total
0,Apartments,EF A ceiling,NaN,670,BROAN,451.0,33.72,NaN,15207.72
1,Amenities,EF-4-1,NaN,L300,BROAN,1.0,126.63,55.0,181.63
2,Amenities,EF-4-2,NaN,L300,BROAN,1.0,126.63,55.0,181.63
3,Amenities,EF-4-3,NaN,L300,BROAN,1.0,126.63,55.0,181.63
4,Amenities,EF-4-4,NaN,GBR80,DELTA BREEZ,1.0,60.40,55.0,115.40
5,Amenities,EF-4-5,NaN,GBR80,DELTA BREEZ,1.0,60.40,55.0,115.40
6,Amenities,EF-4-6,NaN,GBR80,DELTA BREEZ,1.0,60.40,55.0,115.40
7,Amenities,EF-6-1,NaN,L200,BROAN,1.0,122.00,55.0,177.00
8,Amenities,EF-6-2,NaN,L200,BROAN,1.0,122.00,55.0,177.00
9,Amenities,EF-6-3,NaN,L200,BROAN,1.0,122.00,55.0,177.00
10,Amenities,EF-6-4,NaN,L200,BROAN,1.0,122.00,55.0,177.00
11,Amenities,Time delay,NaN,NaN,NaN,1.0,150.00,NaN,150.00
12,Amenities,EH-4-1,NaN,MARLEY 3.0KW,NaN,1.0,350.00,NaN,350.00
13,Amenities,EH-6-1,NaN,MARLEY 3.0KW,NaN,1.0,350.00,NaN,350.00
14,Amenities,EH-A,NaN,MARLEY 1.5KW,NaN,4.0,210.69,NaN,842.76
15,Amenities,EUH-A,NaN,QMARK 5KW,NaN,10.0,448.00,NaN,4480.00
16,Apartments,Motorized Dampers,NaN,NaN,NaN,0.0,252.00,NaN,0.00
17,Amenities,Motorized Dampers,NaN,NaN,NaN,8.0,252.00,NaN,2016.00

In [593]:
takeoff_equipment.dropna(subset=['Type'], inplace=True)
to_equipment_sum = takeoff_equipment['Total'].sum()
takeoff_equipment

           Item         Type  Unnamed: 3   QTY Unit Price  Total
0    GSZ140241L       FC-4-1         NaN   1.0        632    632
1    ARUF25B14A       FC-4-1         NaN   1.0        311    311
2    GSZ140301K       FC-4-2         NaN   1.0        707    707
3    ARUF31B14A       FC-4-2         NaN   1.0        356    356
4    GSZ140421K       FC-4-3         NaN   1.0       1016   1016
5    ARUF47D14A       FC-4-3         NaN   1.0        494    494
6    GSZ140361K       FC-6-1         NaN   1.0        790    790
7    ARUF37D14A       FC-6-1         NaN   1.0        404    404
8    GSZ140481K       FC-6-2         NaN   1.0       1113   1113
9    ARUF49D14A       FC-6-2         NaN   1.0        548    548
10   GSZ140301K       FC-6-3         NaN   1.0        707    707
11   ARUF31B14A       FC-6-3         NaN   1.0        356    356
12   GSZ140481K       FC-6-4         NaN   1.0       1113   1113
13   ARUF49D14A       FC-6-4         NaN   1.0        548    548
14   GSZ140481K       FC-6-5         NaN   1.0       1113   1113
15   ARUF49D14A       FC-6-5         NaN   1.0        548    548
16   GSZ140181L        FC-A1         NaN  36.0        613  22068
17  AWUF310516A        FC-A1         NaN  36.0        320  11520
18   GSZ140181L        FC-A2         NaN  99.0        613  60687
19  AWUF310516A        FC-A2         NaN  99.0        320  31680
20   GSZ140181L        FC-A3         NaN   5.0        613   3065
21  AWUF310516A        FC-A3         NaN   5.0        320   1600
22   GSZ140181L        FC-A4         NaN   1.0        613    613
23  AWUF310516A        FC-A4         NaN   1.0        320    320
24   GSZ140241L        FC-B1         NaN  22.0        632  13904
25  AWUF310816A        FC-B1         NaN  22.0        320   7040
26   GSZ140241L        FC-B2         NaN  80.0        632  50560
27  AWUF310816A        FC-B2         NaN  80.0        320  25600
28   GSZ140241L        FC-B3         NaN   5.0        632   3160
29  AWUF310816A        FC-B3         NaN   5.0        320   1600
30   GSZ140241L        FC-B4         NaN  12.0        632   7584
31  AWUF310616A        FC-B4         NaN  12.0        320   3840
32   GSZ140241L        FC-C1         NaN  36.0        632  22752
33  AWUF310816A        FC-C1         NaN  36.0        320  11520
34          NaN   Heater 5KW         NaN   0.0         50      0
35          NaN   Heater 8KW         NaN   3.0         60    180
36          NaN  Heater 10KW         NaN   2.0        100    200
37          NaN  Heater 15KW         NaN   3.0        120    360
38          NaN   MINISPLITS         NaN   NaN        NaN      0

In [594]:
takeoff_time = takeoff_time.rename(columns={'Employee':'Role','Total Hours':'ST','Total':'Cost'})
index = takeoff_time[takeoff_time['Role'] == 'Total'].index
if len(index) > 0:
    takeoff_time = takeoff_time.drop(takeoff_time.index[index[0]:])

to_time = takeoff_time.groupby('Role').agg({'ST':'sum','Cost':'sum'})
to_time = to_time[(to_time.T != 0).any()]
to_time

                      ST      Cost
Role
Foreman         2631.750  68425.50
Superintendent  1315.875  55266.75

Aqui se empatan las tablas

In [595]:
time_table = purchases_time.groupby('Role').agg({'ST':'sum','Cost':'sum'}).round(2)
merged_time = pd.merge(time_table,to_time,how='left', left_index=True, right_on='Role').rename(columns={'ST_x':'Current Total Hours','Cost_x':'Current Cost','ST_y':'Estimated Total Hours','Cost_y':'Estimated Cost'})
merged_time = merged_time.reset_index()
merged_time

,index,Role,Current Total Hours,Current Cost,Estimated Total Hours,Estimated Cost
0,Foreman,Foreman,1000.83,17566.21,2631.750,68425.50
1,NaN,Project Administrator,116.17,1702.14,NaN,NaN
2,Superintendent,Superintendent,395.08,14160.75,1315.875,55266.75

In [596]:
grouped_df = purchases_time.groupby('Role')
role_dict = {}
for role, data in grouped_df:
    # Sorting data by 'Avg. Hourly Cost'
    sorted_data = data.sort_values('Avg. Hourly Cost', ascending=False).drop(columns=['ST','Total','Cost'])
    role_dict[role] = sorted_data

for title, df in role_dict.items():
    print(df)

           Resource     Role  Avg. Hourly Cost
8   Xavier Carvajal  Foreman             19.26
7    Omar Maradiaga  Foreman             18.55
5     Mario Mayorga  Foreman             17.37
0       Abad Garcia  Foreman             17.35
6  Nicolas Tolosano  Foreman             16.81
           Resource                   Role  Avg. Hourly Cost
4  Juan Pablo Cobos  Project Administrator             14.69
3   Eliana Valbuena  Project Administrator             10.86
         Resource            Role  Avg. Hourly Cost
1  Billy Martinez  Superintendent             35.84

In [597]:
grouped_df

In [598]:
retencion_summed = retencion['Price'].sum()
retencion_grouped = pd.DataFrame(retencion.groupby('Subcontractor')['Price'].sum()).reset_index()
retencion_grouped['Price'] = retencion_grouped['Price']*-1
retencion_grouped

   Subcontractor  Price
0        SLP Air   30.0
1  St. Jude HVAC  167.2

In [599]:
dfl_subcontract = purchases_subcontractor[purchases_subcontractor['Phase'].str.contains('Direct Field Labor|Direct Cost Labor', case=False)]
dfl_subcontract = dfl_subcontract.groupby('Item').agg({'Qty':'sum','Price':'sum'})
dfl_subcontract = dfl_subcontract.reset_index()

replacements = {}
for index, rows in dfl_subcontract.iterrows():
    replacements[rows['Item']] = 'Technician'

dfl_subcontract['Item'] = dfl_subcontract['Item'].replace(replacements)
dfl_subcontract = dfl_subcontract.rename(columns={'Item':'Role','Qty':'ST','Price':'Cost'})
dfl_table = dfl_subcontract.groupby('Role').agg({'ST':'sum','Cost':'sum'}).reset_index()
dfl_table = dfl_table.rename(columns={'ST':'Current Total Hours','Cost':'Current Cost'})

merged_time_total = pd.concat([merged_time,dfl_table])
merged_time_grouped = merged_time_total.groupby('Role').agg({'Current Total Hours':'sum','Current Cost':'sum','Estimated Total Hours':'sum','Estimated Cost':'sum'}).reset_index()
merged_time_total

,index,Role,Current Total Hours,Current Cost,Estimated Total Hours,Estimated Cost
0,Foreman,Foreman,1000.83,17566.21,2631.750,68425.50
1,NaN,Project Administrator,116.17,1702.14,NaN,NaN
2,Superintendent,Superintendent,395.08,14160.75,1315.875,55266.75

In [600]:
merged_time_grouped['% Hours'] = (merged_time_grouped['Current Total Hours']/merged_time_grouped['Estimated Total Hours']).map('{:,.2%}'.format)
merged_time_grouped['% Cost'] = (merged_time_grouped['Current Cost']/merged_time_grouped['Estimated Cost']).map('{:,.2%}'.format)
merged_time_grouped

,Role,Current Total Hours,Current Cost,Estimated Total Hours,Estimated Cost,% Hours,% Cost
0,Foreman,1000.83,17566.21,2631.750,68425.50,38.03%,25.67%
1,Project Administrator,116.17,1702.14,0.000,0.00,inf%,inf%
2,Superintendent,395.08,14160.75,1315.875,55266.75,30.02%,25.62%

In [601]:
dfl_detailed = purchases_subcontractor[purchases_subcontractor['Phase'].str.contains('Direct Field Labor', case=False)].drop(columns=['Phase','Subcontractor'])
dfl_detailed

Empty DataFrame
Columns: [Item, Qty, Price, Invoice Date, Invoice Number]
Index: []

In [602]:
subcontractor_grouped = pd.DataFrame(ps_dropped_ret_dfl.groupby('Subcontractor')['Price'].sum()).sort_values(by='Price',ascending=False).reset_index()
subcontractor_summed = subcontractor_grouped['Price'].sum()
subcontractor_grouped
subcontractor_merged = pd.merge(subcontractor_grouped,retencion_grouped,how='left',on='Subcontractor')
subcontractor_merged = subcontractor_merged.rename(columns={'Price_x':'Price','Price_y':'Retainer'})
subcontractor_merged['Retainer'] = subcontractor_merged['Retainer'].fillna(0)
subcontractor_merged

               Subcontractor      Price  Retainer
0         DANNY BEST AIR LLC  170691.40       0.0
1              St. Jude HVAC   24527.23     167.2
2    OT Pro Air Conditioning    3042.00       0.0
3  JE MECHANICAL RESIDENTIAL    1441.44       0.0
4                    SLP Air     300.00      30.0
5               Oscar Rivera      85.00       0.0

In [603]:
takeoff_subcontractors_summed = takeoff_subcontractors['Total'].sum() 
subcontractors_table = pd.DataFrame({'Phase':'Subcontractors','Paid to Subcontractors':(subcontractor_summed+retencion_summed),'Retainer':-retencion_summed,'Total':subcontractor_summed,'Balance':takeoff_subcontractors_summed,'% Out of Balance':subcontractor_summed/takeoff_subcontractors_summed},index=[0])
subcontractors_table['% Out of Balance'] = subcontractors_table['% Out of Balance'].map('{:,.2%}'.format)
subcontractors_table

,Phase,Paid to Subcontractors,Retainer,Total,Balance,% Out of Balance
0,Subcontractors,199889.87,197.2,200087.07,276560,72.35%

In [604]:
equiment_table = purchased_equipment.loc[purchased_equipment['QTY Received'] != 0]
equiment_table_total= equiment_table['Price Billed'].sum()
equipment_table_df = pd.DataFrame({'Phase':'Equipment','Equipment Purchased':[equiment_table_total],'Equipment Estimated':[to_equipment_sum],'% Purchased out of Estimate':[equiment_table_total/to_equipment_sum]})
equipment_table_df['% Purchased out of Estimate'] = equipment_table_df['% Purchased out of Estimate'].map('{:,.2%}'.format)
equipment_table_df

,Phase,Equipment Purchased,Equipment Estimated,% Purchased out of Estimate
0,Equipment,202720.59,290609,69.76%

In [605]:
takeoff_equipment = takeoff_equipment.drop(columns=[col for col in takeoff_equipment.columns if 'Unnamed' in col])
takeoff_equipment

           Item         Type   QTY Unit Price  Total
0    GSZ140241L       FC-4-1   1.0        632    632
1    ARUF25B14A       FC-4-1   1.0        311    311
2    GSZ140301K       FC-4-2   1.0        707    707
3    ARUF31B14A       FC-4-2   1.0        356    356
4    GSZ140421K       FC-4-3   1.0       1016   1016
5    ARUF47D14A       FC-4-3   1.0        494    494
6    GSZ140361K       FC-6-1   1.0        790    790
7    ARUF37D14A       FC-6-1   1.0        404    404
8    GSZ140481K       FC-6-2   1.0       1113   1113
9    ARUF49D14A       FC-6-2   1.0        548    548
10   GSZ140301K       FC-6-3   1.0        707    707
11   ARUF31B14A       FC-6-3   1.0        356    356
12   GSZ140481K       FC-6-4   1.0       1113   1113
13   ARUF49D14A       FC-6-4   1.0        548    548
14   GSZ140481K       FC-6-5   1.0       1113   1113
15   ARUF49D14A       FC-6-5   1.0        548    548
16   GSZ140181L        FC-A1  36.0        613  22068
17  AWUF310516A        FC-A1  36.0        320  11520
18   GSZ140181L        FC-A2  99.0        613  60687
19  AWUF310516A        FC-A2  99.0        320  31680
20   GSZ140181L        FC-A3   5.0        613   3065
21  AWUF310516A        FC-A3   5.0        320   1600
22   GSZ140181L        FC-A4   1.0        613    613
23  AWUF310516A        FC-A4   1.0        320    320
24   GSZ140241L        FC-B1  22.0        632  13904
25  AWUF310816A        FC-B1  22.0        320   7040
26   GSZ140241L        FC-B2  80.0        632  50560
27  AWUF310816A        FC-B2  80.0        320  25600
28   GSZ140241L        FC-B3   5.0        632   3160
29  AWUF310816A        FC-B3   5.0        320   1600
30   GSZ140241L        FC-B4  12.0        632   7584
31  AWUF310616A        FC-B4  12.0        320   3840
32   GSZ140241L        FC-C1  36.0        632  22752
33  AWUF310816A        FC-C1  36.0        320  11520
34          NaN   Heater 5KW   0.0         50      0
35          NaN   Heater 8KW   3.0         60    180
36          NaN  Heater 10KW   2.0        100    200
37          NaN  Heater 15KW   3.0        120    360
38          NaN   MINISPLITS   NaN        NaN      0

In [606]:
eq_mats = purchased_equipment.drop(columns=['Phase','Cost Type','Takeoff_Price','Takeoff_QTY','Takeoff_total_price','Grouping Item','Grouping Unit Converter'])
eq_mat_excel = eq_mats.groupby('Item').agg({'QTY Ordered':'sum','QTY Received':'sum','Price Billed':'sum','Vendor':'first','Purchase Date':'first','Invoice Number':'first'}).reset_index()
eq_mat_excel

,Item,QTY Ordered,QTY Received,Price Billed,Vendor,Purchase Date,Invoice Number
0,3-pole power disconnect switch kit,10.0,10.0,2103.50,Ferguson Enterprises Inc.,09/21/2022,4220555
1,air handler aruf25b14a,1.0,1.0,311.00,Goodman Distribution,09/26/2022,None
2,air handler aruf31b14a,2.0,2.0,712.00,Goodman Distribution,09/26/2022,None
3,air handler aruf37d14a,1.0,1.0,404.00,Goodman Distribution,09/26/2022,None
4,air handler aruf47d14a,1.0,1.0,494.00,Goodman Distribution,09/26/2022,None
5,air handler aruf49d14a,3.0,3.0,1644.00,Goodman Distribution,09/26/2022,None
6,air handler awuf310516a,141.0,141.0,45120.00,Goodman Distribution,09/26/2022,None
7,air handler awuf310816a,155.0,155.0,49600.00,Goodman Distribution,09/26/2022,None
8,b10 mountain bracklet for electric heater qmar...,10.0,10.0,790.00,Supply House,09/14/2022,13153330
9,condenser unit gsz140181l,17.0,17.0,10421.00,Goodman Distribution,09/26/2022,BR52563
10,condenser unit gsz140191l,30.0,30.0,29130.00,Goodman Distribution,09/26/2022,DB34284
11,condenser unit gsz140241l,28.0,28.0,17696.00,Goodman Distribution,09/26/2022,BR52563
12,condenser unit gsz140251l,30.0,30.0,30060.00,Goodman Distribution,09/26/2022,DB34284
13,condenser unit gsz140301k,2.0,2.0,1414.00,Goodman Distribution,09/26/2022,BR52563
14,condenser unit gsz140361k,1.0,1.0,790.00,Goodman Distribution,09/26/2022,BR52563
15,condenser unit gsz140421,-1.0,-1.0,-1016.00,Goodman Distribution,11/11/2022,CW72775
16,condenser unit gsz140421k,2.0,2.0,2032.00,Goodman Distribution,09/26/2022,BR52563
17,condenser unit gsz140481k,3.0,3.0,3339.00,Goodman Distribution,09/26/2022,BR52563
18,electric heater qmark 5kw muh0581,10.0,10.0,5435.10,Supply House,09/14/2022,13153330
19,electrical wire stripper and twister,1.0,1.0,12.99,Amazon,10/20/2022,None
20,foaming block from tributary,32.0,32.0,96.00,OFFICE STORAGE INVENTORY 1420Redi,02/10/2023,90410034
21,heat strip hksx08xc,1.0,1.0,60.00,Goodman Distribution,09/26/2022,None
22,heat strip hksx10xc,3.0,3.0,300.00,Goodman Distribution,09/26/2022,None
23,heat strip hksx15xf,4.0,4.0,480.00,Goodman Distribution,09/26/2022,None
24,single pole thermostat kit,10.0,10.0,1292.00,Ferguson Enterprises Inc.,09/21/2022,4220555

In [607]:
exhaust_fan_summed = purchased_exhaust_fans['Price Billed'].sum()
takeoff_fan_summed = takeoff_exhausfan['Total'].sum()
exhaust_fan_df = pd.DataFrame({'Phase':'Exhaust Fan','Exhaust Fan Purchased':[exhaust_fan_summed],'Exhaust Fan Estimated':[takeoff_fan_summed],'% Purchased out of Estimate':[exhaust_fan_summed/takeoff_fan_summed]})
exhaust_fan_df['% Purchased out of Estimate'] = exhaust_fan_df['% Purchased out of Estimate'].map('{:,.2%}'.format)
exhaust_fan_df

,Phase,Exhaust Fan Purchased,Exhaust Fan Estimated,% Purchased out of Estimate
0,Exhaust Fan,12766.21,24995.57,51.07%

In [608]:
exhaustfan_materials = purchased_exhaust_fans.drop(columns=['Unit Converter','Phase','Cost Type','Takeoff_Material','Db Phase','Takeoff_Price','Takeoff_QTY','Takeoff_total_price','Grouping Item','Grouping Unit Converter'])
exhaustfan_materials

,Item,QTY Ordered,QTY Received,Price Billed,Vendor,Purchase Date,Invoice Number,Contingencies
552,broan 671 rough-in housing model #1667h,228.0,228.0,1390.80,NB Handy,02/09/2023,8532777,0
553,broan 671 rough-in housing model #1667h,178.0,178.0,1085.80,NB Handy,08/24/2022,8466784,0
554,broan 671 rough-in housing model #1667h,48.0,48.0,292.80,NB Handy,08/24/2022,8462580,0
555,broan 671 trim-finish assembly model #1671f,138.0,138.0,2535.06,NB Handy,02/20/2023,8537330,0
556,broan 671 trim-finish assembly model #1671f,264.0,264.0,4849.68,NB Handy,02/20/2023,8537334,0
557,broan 671 trim-finish assembly model #1671f,54.0,54.0,991.98,NB Handy,02/09/2023,8532777,0
558,broan l200 ceiling mount ventilator,4.0,4.0,521.80,HAC Supply,09/01/2022,2068697-IN,0
559,broan l300 ceiling mount ventilator,3.0,3.0,457.05,HAC Supply,09/01/2022,2068607-IN,0
560,delta breez gbr80,1.0,1.0,69.31,OFFICE STORAGE INVENTORY 1420Redi,11/22/2022,90410023,0
561,delta breez gbr80,3.0,3.0,207.93,OFFICE STORAGE INVENTORY 1420Redi,09/07/2022,90410015,0
562,exhaust fan slm50-b,2.0,2.0,234.00,OFFICE STORAGE INVENTORY 2650Betheview,05/31/2022,90410002,0
563,exhaust fan slm-a,2.0,2.0,130.00,OFFICE STORAGE INVENTORY 2650Betheview,05/31/2022,90410002,0

In [609]:
takeoff_exhausfan = takeoff_exhausfan.drop(columns=[col for col in takeoff_exhausfan.columns if 'Unnamed' in col])
takeoff_exhausfan

,Space,Type,Item,Brand,QTY,Unit Price,Radiation Damper,Total
0,Apartments,EF A ceiling,670,BROAN,451.0,33.72,NaN,15207.72
1,Amenities,EF-4-1,L300,BROAN,1.0,126.63,55.0,181.63
2,Amenities,EF-4-2,L300,BROAN,1.0,126.63,55.0,181.63
3,Amenities,EF-4-3,L300,BROAN,1.0,126.63,55.0,181.63
4,Amenities,EF-4-4,GBR80,DELTA BREEZ,1.0,60.40,55.0,115.40
5,Amenities,EF-4-5,GBR80,DELTA BREEZ,1.0,60.40,55.0,115.40
6,Amenities,EF-4-6,GBR80,DELTA BREEZ,1.0,60.40,55.0,115.40
7,Amenities,EF-6-1,L200,BROAN,1.0,122.00,55.0,177.00
8,Amenities,EF-6-2,L200,BROAN,1.0,122.00,55.0,177.00
9,Amenities,EF-6-3,L200,BROAN,1.0,122.00,55.0,177.00
10,Amenities,EF-6-4,L200,BROAN,1.0,122.00,55.0,177.00
11,Amenities,Time delay,NaN,NaN,1.0,150.00,NaN,150.00
12,Amenities,EH-4-1,MARLEY 3.0KW,NaN,1.0,350.00,NaN,350.00
13,Amenities,EH-6-1,MARLEY 3.0KW,NaN,1.0,350.00,NaN,350.00
14,Amenities,EH-A,MARLEY 1.5KW,NaN,4.0,210.69,NaN,842.76
15,Amenities,EUH-A,QMARK 5KW,NaN,10.0,448.00,NaN,4480.00
16,Apartments,Motorized Dampers,NaN,NaN,0.0,252.00,NaN,0.00
17,Amenities,Motorized Dampers,NaN,NaN,8.0,252.00,NaN,2016.00

In [610]:
def get_col_widths(dataframe):
    # First, we find the maximum length of the index column and the headers of each column
    idx_max = max([len(str(s)) for s in dataframe.index.values] + [len(str(dataframe.index.name))])
    header_max = max([len(str(s)) for s in dataframe.columns.values])
    
    # Then, we iterate through each column and determine the maximum length of the data in that column.
    # We add 2 to account for padding spaces on either side of each column
    # Finally, we return a list of the maximum lengths of each column.
    return [max(idx_max, header_max)+2] + [max([len(str(s)) for s in dataframe[col].values] + [len(col)]) for col in dataframe.columns]

excel_output = project_name

writer = pd.ExcelWriter(f'C:\\Users\\jecoo\\Desktop\\Alejandro\\Programming\\mongodb\\finals\\{excel_output}_final.xlsx', engine='xlsxwriter')
# Convert the dataframe to an XlsxWriter Excel object. Turn off the default
# header and index and skip one row to allow us to insert a user defined
# header.

dataframes = [purchases_materials, to_materials_w_lineset,materials_no_extras ,purchase_takeoff_table,materials_returned_grouped,direct_labor,purchased_extras,extras_grouped]
datasheets = ['Purchases', 'Takeoff_Materials','Purchase_comparison','Materials_Breakdown','Returned_Material','Direct_Cost_Labor','Extras','Extras_Grouped']

format_dict = {'Purchases': {'Price Billed': '$#,##0.00'},
               'Takeoff_Materials': {'Price': '$#,##0.00','QTY':'$#,##0.00','Total Price':'$#,##0.00'},
               'Materials_Breakdown': {'Price Billed': '$#,##0.00'}}

for i, df in enumerate(dataframes):
    # Get the sheet name and create an empty dictionary for the format strings.
    sheet_name = datasheets[i]
    formats = {}
    if sheet_name in format_dict:
        formats = format_dict[sheet_name]

    # Write the dataframe to the sheet.
    df.to_excel(writer, sheet_name=sheet_name, startrow=1, header=False, index=False)

    # Get the workbook and worksheet objects.
    workbook = writer.book
    worksheet = writer.sheets[sheet_name]

    # Get the dimensions of the dataframe.
    (max_row, max_col) = df.shape

    # Create a list of column headers, to use in add_table().
    column_settings = []
    for header in df.columns:
        col_format = formats.get(header, None)
        if col_format:
            column_settings.append({'header': header, 'format': workbook.add_format({'num_format': col_format})})
        else:
            column_settings.append({'header': header})

    # Add the table.
    worksheet.add_table(0, 0, max_row, max_col - 1, {'columns': column_settings, 'name': datasheets[i]})

    # Make the columns wider for clarity.
    for a, width in enumerate(get_col_widths(df)):
        worksheet.set_column(a-1, a-1, width)

ps_dropped_ret_dfl.to_excel(writer, sheet_name='Subcontractors', index=False, startrow=0, startcol=0)
retencion.to_excel(writer, sheet_name='Subcontractors', index=False, startrow=len(ps_dropped_ret_dfl) + 2, startcol=0)
subcontractor_merged.to_excel(writer, sheet_name='Subcontractors', index=False, startrow=0, startcol=ps_dropped_ret_dfl.shape[1] + 2)
subcontractors_table.to_excel(writer, sheet_name='Subcontractors', index=False, startrow=len(subcontractor_merged) + 2, startcol=ps_dropped_ret_dfl.shape[1] + 2)


eq_mat_excel.to_excel(writer, sheet_name='Equipment', index=False, startrow=0, startcol=0)
takeoff_equipment.to_excel(writer, sheet_name='Equipment', index=False, startrow=0, startcol=eq_mat_excel.shape[1] + 2)
equipment_table_df.to_excel(writer, sheet_name='Equipment', index=False, startrow=len(takeoff_equipment) + 2, startcol=eq_mat_excel.shape[1] + 2)

exhaustfan_materials.to_excel(writer, sheet_name='Exhaust Fans', index=False, startrow=0, startcol=0)
takeoff_exhausfan.to_excel(writer, sheet_name='Exhaust Fans', index=False, startrow=0, startcol=exhaustfan_materials.shape[1] + 2)
exhaust_fan_df.to_excel(writer, sheet_name='Exhaust Fans', index=False, startrow=len(takeoff_exhausfan) + 2, startcol=exhaustfan_materials.shape[1] + 2)

role_dict_row = 0
role_dict_col = 0
for index,df in role_dict.items():
    df.to_excel(writer, sheet_name='Direct Field Labor', index=False, startrow=role_dict_row, startcol=0)
    role_dict_row += len(df)+2
    role_dict_col = df.shape[1]

dfl_detailed.to_excel(writer, sheet_name='Direct Field Labor', index=False, startrow=0, startcol=role_dict_col + 2)
merged_time_grouped.to_excel(writer, sheet_name='Direct Field Labor', index=False, startrow=len(dfl_detailed) + 2, startcol=role_dict_col + 2)



# Close the Pandas Excel writer and output the Excel file.
writer.close()

c:\Python311\Lib\site-packages\xlsxwriter\worksheet.py:3221: UserWarning: Must have at least one data row in in add_table()
  warn("Must have at least one data row in in add_table()")